{% block body %}    
    <footer class="flex flex-col items-center w-full bg-black">
            <div class="flex flex-col items-center py-12 px-32 w-full">
              <h1 class="footer__h1 text-5xl text-center">Partout en France</h1>
              <div class="footer__bottom-line w-full py-6"></div>
            </div>
            <div class="footer__center lg:flex w-full lg:justify-center lg:justify-around py-16">
              <div class="flex flex-col items-center lg:justify-center">
                <h2 class="footer__h2 text-5xl">Suivez #ecoservice</h2>
                <div class="flex pt-12">
                  <a class="footer__icon flex justify-center items-center mr-8" href="https://fr-fr.facebook.com/" target="_blank"
                  ><i class="fab fa-facebook-f fa-2x"></i></a>
                  <a class="footer__icon flex justify-center items-center mx-8" href="https://twitter.com/twitter" target="_blank"><i class="fab fa-twitter
                  fa-2x"></i></a>
                  <a class="footer__icon flex justify-center items-center mx-8" href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram
                  fa-2x"></i></a>
                  <a class="footer__icon flex justify-center items-center ml-8" href="https://www.youtube.com/?hl=fr&gl=FR" target="_blank"><i class="fab fa-youtube
                  fa-2x"></i></a>
                </div>
              </div>
              <div class="footer__coordonnees flex flex-col items-center lg:items-start lg:pl-48 py-12">
                <img class="footer__logo" src="{{ asset('images/png/logo_white.png')}}" alt="logo"/>
                <h2 class="footer__h2 text-5xl">Nos coordonnées</h2>
                <div class="flex flex-col items-center lg:items-start py-6">
                  <p class="text-3xl text-white font-thin uppercase">12 rue address</p>
                  <p class="text-3xl text-white font-thin uppercase">69002 Lyon</p>
                </div>
                <div class="flex flex-col items-center lg:items-start pb-4">
                  <p class="text-3xl text-white font-thin uppercase">adressemail@email.com</p>
                  <p class="text-3xl text-white font-thin uppercase">02 02 02 02 02</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col items-center w-full">
              <div class="flex flex-col items-center py-5 px-32 w-full">
                <a class="no-underline" href="#up"><h1 class="footer__h1 text-5xl text-center">Remonter en haut<i class="fa fa-arrow-up mx-8"></i></h1></a>
                <div class="footer__bottom-line w-full py-4"></div>
              </div>
              <div class="lg:flex flex-row py-8">
                <h3 class="footer__h3 text-4xl text-center lg:px-32">Localisation des magasins</h3>
                <h3 class="footer__h3 text-4xl text-center lg:px-32">Cookies</h3>
                <a href="{{ path('rgpd') }}">
                  <h3 class="footer__h3 text-4xl text-center lg:px-32">RGPD</h3>
                </a>
                <h3 class="footer__h3 text-4xl text-center lg:px-32">Termes et conditions</h3>
              </div>
            </div>
    </footer>
{% endblock %}