{% block body %}
    <div class="container" id="up">
        <header class="header block relative lg:static lg:flex lg:justify-between lg:items-center lg:content-between">

              <div class="block lg:flex lg:items-center lg:mr-0">
                  <a href="{{ path('home') }}"><img class="h-24 w-24 m-6" src="{{ asset('images/png/logo.png')}}"></a>
                  <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block"
                     href="{{ path('service_index') }}">
                      <button>Nos services</button>
                  </a>
                  <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block"
                     href="{{ path('article_index')}}">
                      <button>Catalogue</button>
                  </a>
                  <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block"
                     href="{{ path('blog_show', {id: 1})  }}">
                      <button>A propos</button>
                      <!-- TODO - route vers A Propos qui correspond au 1er article blog-->
                  </a>
                  <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block"
                     href="{{ path('blog_index')}}">
                      <button>Blog</button>
                  </a>
                  <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block"
                     href="{{ path('contact')}}">
                      <button>Contact</button>
                  </a>
              </div>
              {% if app.user == false %}
                <div class="block lg:ml-0 lg:flex lg:items-center z-10">
                  <a class="header__navbar-button--responsive-navbar m-2 hidden lg:block" href="">
                    <button class="btn-header" id="btn-inscrpt" modal='modal-inscription'>Inscription</button>
                  </a>
                  <a class="header__navbar-button--responsive-navbar m-2 hidden lg:block" href="">
                    <button class="btn-header-outline order-none" id="btn-connxn" modal='modal-connexion'>Se
                        connecter</button>
                  </a>
                </div>
              {% else %}
                <div class="block lg:ml-0 lg:flex lg:items-center z-10">
                    <a class="header__navbar-button--responsive-navbar m-2 hidden lg:block" href="">
                        <li class="dropdown--header list-none z-50 btn-header relative">
                            Mon compte
                            <div class="dropdown--header__content z-50 absolute text-center flex flex-col">
                                <a class="z-50 my-4" href="{{ path('account_profile') }}">Infos perso</a>
                                <a class="z-50 my-4" href="{{ path('commande_index') }}">Commandes</a>
                                <a class="z-50 my-4" href="{{ path('commande_recap') }}">Recap commandes</a>
                                <a class="z-50 my-4" href="{{ path('commande_history') }}">Historique commandes</a>
                            </div>
                        </li>
                    </a>
                  <a class="header__navbar-button--responsive-navbar m-2 hidden lg:block" href="{{ path('account_shopping')}}">
                    <button  class="btn-header">Panier</button>
                  </a>
                  </div>
              {% endif %}

              <div class="header__burgericon m-2 mr-16 block absolute top-0 right-0 lg:hidden">
                <div class="header__burgericon-container" id="header-responsive">
                  <div class="header__burgericon-bar1"></div>
                  <div class="header__burgericon-bar2"></div>
                  <div class="header__burgericon-bar3"></div>
                </div>
              </div>
        </header>
    </div>
{% endblock %}