.footer__center {
    background-color: rgba(255,255,255,0.1);
}

.footer__h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    color: var(--white);
    text-transform: uppercase;
}

.footer__h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    color: var(--white);
    text-transform: uppercase;
}

.footer__h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}

.footer__coordonnees {
    padding-left: 8rem;
    border-left: 1px solid var(--white);
}

.footer__icon {
    height: 50px;
    width: 50px;
    color: var(--black);
    border: none;
    border-radius: 50%;
    text-decoration: none;
    background-color: var(--white);
}

.footer__bottom-line {
    border-bottom: 2px solid var(--white);
}

@media (max-width:1020px) {
    .footer__coordonnees {
        border-left: none;
    }
}

.footer__logo {
    position: absolute;
    opacity: 0.3;
}

.black {
    background-color: var(--black);
}
