.header__navbar-button button {
    font-size: 2rem;
    padding: .5rem;
    margin: 0;
    font-weight: 500;
    background: 0 0;
    overflow: hidden;
}
.header__navbar-button button:hover, .header__navbar-button button:active {
    border-bottom: 2px solid black;
}
.header__navbar-button button:focus {
    outline: none;
}

.header__burgericon-container {
    display: inline-block;
    cursor: pointer;
}

.header__burgericon-bar1, .header__burgericon-bar2, .header__burgericon-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    border-radius: 20px;
    transition: 0.4s;
}

.change .header__burgericon-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.change .header__burgericon-bar2 {opacity: 0;}

.change .header__burgericon-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}
