/*///////////////////
// TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////
// HEADING
///////////////////////////////////////////////////////////////////////////////*/

/* BASE */
/* --------------------------------------------------------- */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 100;
  font-size: 19rem;
  color: var(--primary);
}
h2 {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 100;
  font-size: 10rem;
  color: var(--primary);
}


/*//////////////////////
// TITLES SEPARATORS
//////////////////////*/
.title-separator h1{
  font-size: 4rem;
  font-family: 'Cormorant';
  font-weight: normal;
  font-style: normal;
  color: #050505;
  text-align: center;
}
@media (min-width: 1024px) {
.title-separator h1{
  font-size: 75px;
}
}
.title-separator::before{
    content: '';
    display: block;
    height: 0.3rem;
    width: 12.925rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1024px) {
.title-separator::before{
  width: 25.85rem;

}
}
.title-separator::before{
  margin-bottom: 1rem;

}

.title-separator--secondary::after,
.title-separator--secondary::before{
    background-color: #5DFDCB
}
