{% extends 'base.html.twig' %}
{% block title %} Modification du profile utilisateur {% endblock  %}
{% block body %}
    <div class="flex flex-col items-center container--lg my-32">
        <div class="title-separator title-separator--secondary mb-10 lg:my-20">
            <h1 class="title-blog-details">Mes informations personnelles</h1>
        </div>
        <div class="flex w-4/5 mb-24">
            <table class="flex w-full">
                <tbody class="flex flex-col w-full">
                <tr class="d-flex d-full">
                    <td class="flex py-4">
                        <input type="text" name="genre" class="form__input" placeholder="Genre">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="flex w-1/2 mr-2 py-4">
                        <input type="text" name="prenom" class="form__input" placeholder="Prénom">
                    </td>
                    <td class="flex w-1/2 ml-2 py-4">
                        <input type="text" name="nom" class="form__input" placeholder="Nom">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="flex w-1/3 mr-2 py-4" colspan="1">
                        <input type="number" name="jour" class="form__input" placeholder="JJ">
                    </td>
                    <td class="flex w-1/3 mx-2 py-4" colspan="1">
                        <input type="number" name="mois" class="form__input" placeholder="MM">
                    </td>
                    <td class="flex w-1/3 ml-2 py-4" colspan="1">
                        <input type="number" name="annee" class="form__input" placeholder="AAAA">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="w-1/2 mr-2 py-4" colspan="2">
                        <input type="text" name="adressemail" class="form__input" placeholder="Adresse mail">
                    </td>
                    <td class="w-1/2 ml-2 py-4" colspan="2">
                        <input type="number" name="n" class="form__input" placeholder="N°">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="w-full py-4" colspan="3">
                        <input type="text" name="adresse" class="form__input" placeholder="Adresse">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="w-1/2 mr-2 py-4" colspan="2">
                        <input type="number" name="codepostal" class="form__input" placeholder="Code postal">
                    </td>
                    <td class="w-1/2 ml-2 py-4" colspan="2">
                        <input type="text" name="ville" class="form__input" placeholder="Ville">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="w-full py-4" colspan="3">
                        <input type="text" name="pays" class="form__input" placeholder="Pays">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="w-full py-4" colspan="3">
                        <input type="password" name="motdepasse" class="form__input" placeholder="Mot de passe">
                    </td>
                </tr>
                <tr class="flex d-full">
                    <td class="w-full py-4" colspan="3">
                        <input type="password" name="confirmmotdepasse" class="form__input" placeholder="Confirmer le mot de passe">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button  class="btn-green-gradient-outline"><span class="text-green-gradient">Sauvegarder</span></button>
    </div>

{% endblock  %}