{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

    {% block body %}

        <div class="cart my-20">
            <div class="cart--title uppercase hidden lg:flex">
                <h1>Votre panier</h1>
            </div>
            <div class="container">
                <div class="cart--bar hidden lg:flex items-center lg:justify-around my-16 lg:px-0 lg:pb-6">
                    <div class="cart--bar__image text-center">
                        Image
                    </div>
                    <div class="cart--bar__content hidden lg:block">
                        <p class="cart--bar__content--category">Produit</p>
                    </div>
                    <div class="cart--bar__amount">
                        Nombre
                    </div>
                    <div class="cart--bar__color hidden lg:flex lg:items-center">
                        Couleur
                    </div>
                    <div class="cart--bar__size hidden lg:block"> Taille
                    </div>
                    <div class="cart--bar__price"> Prix
                    </div>
                    <div class="cart--bar__cancel opacity-0">
                        <img src="{{ asset('images/icons/times.svg') }}" alt="Texture">
                    </div>
                </div>
                <div class="cart--content flex flex-col justify-between">
                    {% if shops %}
                    <div class="cart--content__articles">
                     {% for shop in shops %}
                        <div class="cart-item flex items-center justify-between lg:justify-around px-8 my-16 lg:px-0">
                            <div class="cart-item__image">
                                <img src="{{ asset('images/jpg/toothbrush.jpg') }}" alt="toothbrush" class="img-responsive">
                            </div>
                            <div class="cart-item__content hidden lg:block">
                                <p class="cart-item__content--title">{{shop.article.name}}</p>
                                <p class="cart-item__content--category">{{ shop.article.id}}</p>
                            </div>
                            <div class="cart-item__amount">
                                <div class="input--number">
                                    <input class="input--number__field" type="number" data-id="{{ shop.id}}" data-article="{{ shop.article.id}}" min="0" max="9" step="1" value="{{ shop.quantity }}">
                                </div>
                            </div>
                            <div class="cart-item__color hidden lg:flex lg:items-center">
                                <img class="img-rounded" src="{{ asset('images/jpg/wood.jpg') }}"
                                alt="Icon Cart" class="mr-6">
                                <p class="px-8">Wood</p>
                            </div>
                            <div class="cart-item__size hidden lg:block"> UNI
                            </div>
                            <div class="cart-item__price"> {{ shop.price|format_currency('EUR', locale='de') }}
                            </div>
                            <div class="cart-item__cancel cursor-pointer">
                                <img src="{{ asset('images/icons/times.svg') }}" alt="Texture">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="flex flex-col lg:flex-row lg:justify-around px-8 text-center lg:text-left lg:px-0">
                    <div class="cart--total">
                        Total de votre panier : {{ total|format_currency('EUR', locale='de') }}
                    </div>
                    <div class="cart--buttons flex items-center">
                        <div class="cart--buttons__previous btn--blue-gradient mr-16">
                            <a class="link-blue-gradient" href="{{ path('article_index') }}">Continuer à naviguer</a>
                        </div>
                        <div class="cart--buttons__next">
                            <button class="btn-blue-gradient"><span
                                class="text-blue-gradient">Commander</span></button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    {% endblock %}
