{% extends 'base.html.twig' %}

{% block title %}Registre{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.civility) }}
    {{ form_row(form.date_birth) }}
    {{ form_row(form.adress) }}
    {{ form_row(form.cp) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}
