{% extends 'admin.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1>Créer un nouveau service</h1>

    {{ include('administration/admin/_form.html.twig') }}

{% endblock %}