{% extends 'admin.html.twig' %}
{% block body %}
	<div class="container">
		<h1>Liste des admins</h1>
		<div id="myCatalogue"><a href="{{ path('admin_admin_new') }}" type="submit" class="btn btn-primary">Ajouter</a></div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>prénom</th>
					<th>nom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for admin in admins %}
					<tr>
						<td>{{ admin.id }}</td>
						<td>{{ admin.firstname }}</td>
						<td>{{ admin.lastname }}</td>

						<td>
							<a href="{{ path('admin_admin_user_edit', {'id': admin.id}) }}"><span class="fa fa-wrench"></span></a>
							<a href="{{ path('admin_admin_edit',  {'id': admin.id}) }}"><span class="fas fa-users-cog"></a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Pas d'utilisateur trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
{% endblock %}