{% extends 'admin.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1>Create new Service</h1>

    {{ include('administration/admin/_form.html.twig') }}

{% endblock %}
