{% extends 'base.html.twig' %}

{% block title %}Detail Article{% endblock %}

{% block body %}

    <div class="lg:flex lg:py-20">
        <div class="w-full lg:w-1/2 px-8 lg:px-0">
            <div class="slideshow relative mx-auto ">
                <div class="slideshow--content flex flex-no-wrap">
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg')}}"
                             alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg')}}"  alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg')}}"  alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg')}}"  alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg')}}"  alt="toothbrush" class="img-cover">
                    </div>
                </div>
                <div class="slideshow--button__prev cursor-pointer" id="slideshow-prev">
                    <img src="{{ asset('images/icons/chevron-left.png')}}"
                         alt="Chevron">
                </div>
                <div class="slideshow--button__next cursor-pointer" id="slideshow-next">
                    <img src="{{ asset('images/icons/chevron-right.png')}}" alt="Chevron">
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/2 px-8 lg:px-16">
            <h2 class="text-5xl text-center uppercase tracking-wider font-light pb-10 lg:text-7xl
            lg:text-left">Brosse a dents</h2>
                <div class="flex flex-col mb-10 lg:justify-between lg:mb-40">
                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="flex justify-center mb-10">
                    <a href="{{ path('devis_index') }}" class="btn-green-gradient-outline btn-xl flex justify-center items-center
                    cursor-pointer"><span
                                class="text-green-gradient">Demander un devis</span></a>
                </div>

        </div>
    </div>


{% endblock %}