{% block _article_imagesArticles_widget %}

    <p>Ici, vous pouvez ajouter des images</p>

    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter un image</button>
    </div>
{% endblock %}


{% block _article_imagesArticles_entry_row %}
    {{form_widget(form)}}

{% endblock %}

{% block _article_imagesArticles_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{form_widget(form.image)}}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>
    </div>
{% endblock %}