{% extends 'admin.html.twig' %}

{% block title %}Administration - Édition Article{% endblock %}
{% form_theme form 'administration/article/_collectionImage.html.twig' %}
{% block body %}

	<div class="container">
		<h1>Édition d'un article</h1>
		{{ form_start(form) }}
			<div class="form-group">
				<label>Nom de l'article</label>
				{{ form_widget(form.name) }}
			</div>
			<div class="form-group">
				<label>Prix de l'article</label>
				{{ form_widget(form.price) }}
			</div>

			<div class="form-group">
				<label>Contenu de l'article</label>
				{{ form_widget(form.content) }}
			</div>
			<div class="form-group">
				<label>Quantité</label>
				{{ form_widget(form.quantity) }}
			</div>
			<div class="form-group">
				<label>Image de couverture</label>
				{{ form_widget(form.coverImage) }}
				{% if article.fileNameImage %}
					<img src="{{ vich_uploader_asset(article ,'coverImage') | imagine_filter('thumb')}}" alt="">
				{% endif %}
			</div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
