{% extends 'admin.html.twig' %}
{% block body %}
	{{ form_start(form)}}
	{{ form_row(form, { 'label': 'Édition des articles du moment' }) }}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{ form_end(form) }}
{% endblock %}