{% extends 'admin.html.twig' %}

{% block title %}Administration - Liste Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion du catalogue</h1>
        <div id="myCatalogue"><a href="{{ path('article_new') }}" type="submit" class="btn btn-primary m-3">Ajouter</a></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom de l'article</th>
                    <th>Prix unitaire</th>
                    <th>Stock actuel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.price }}</td>
                    <td>{{ article.quantity }}</td>
                    <td>
                        <a href="{{ path('article_edit', {'id': article.id}) }}"><span class="fa fa-wrench"></span></a>
                        <a href="{{ path('article_delete', {'id': article.id}) }}"><span class="fa fa-trash-o"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Pas d'article trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
