{% extends 'admin.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ include('administration/article/_form.html.twig') }}

{% endblock %}
