/*///////////////////
// LAYOUT
///////////////////////////////////////////////////////////////////////////////*/

/* LAYOUT BASE */
/* --------------------------------------------------------- */
body, html
  width: 100%


html
  font-size: 62.5%
  /* on passe la taille de base à 10px pour les unités en rem : 10px = 1rem (1,4rem = 14px etc) */


body
  background-color: rgb(245,247,246)
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale



/* LAYOUT WRAPPER */
/* --------------------------------------------------------- */
.main-wrapper
  min-height: calc(100vh - #var(--header-height))





/*///////////////////
// LINKS
///////////////////////////////////////////////////////////////////////////////*/
a:hover, a:focus
    color: inherit /* blue colors for links too */
    text-decoration: inherit /* no underline */