@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Thin.ttf') format('truetype')
    font-weight: 100
    font-style: normal


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-LightItalic.ttf') format('truetype')
    font-weight: 300
    font-style: italic


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-BoldItalic.ttf') format('truetype')
    font-weight: bold
    font-style: italic


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype')
    font-weight: bold
    font-style: italic


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype')
    font-weight: 500
    font-style: italic


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-SemiBoldItalic.ttf') format('truetype')
    font-weight: 600
    font-style: italic


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Black.ttf') format('truetype')
    font-weight: 900
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Italic.ttf') format('truetype')
    font-weight: normal
    font-style: italic


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-Italic.ttf') format('truetype')
    font-weight: normal
    font-style: italic


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype')
    font-weight: 100
    font-style: italic


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype')
    font-weight: 300
    font-style: italic


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-MediumItalic.ttf') format('truetype')
    font-weight: 500
    font-style: italic


@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal


@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype')
    font-weight: 900
    font-style: italic
