.footer
  &__center
    background-color: rgba(255,255,255,0.1)
  &__h1
    font-family: 'Roboto'
    font-weight: 500
    font-style: normal
    color: $white
    text-transform: uppercase


  &__h2
    font-family: 'Roboto'
    font-weight: 300
    font-style: normal
    color: $white
    text-transform: uppercase


  &__h3
    font-family: 'Roboto'
    font-weight: 400
    font-style: normal
    text-transform: uppercase
    color: rgba(255,255,255,0.5)


  &__coordonnees
    border-left: none
    background: url('/assets/images/logo_white.png')
    @screen lg
      padding-left: 8rem
      border-left: 1px solid $white


  &__icon
    height: 50px
    width: 50px
    color: $black
    border: none
    border-radius: 50%
    text-decoration: none
    background-color: $white


  &__bottom-line
    border-bottom: 2px solid $white

  &__logo
    position: absolute
    opacity: 0.3