.header

    &__navbar
      &-button
        button
          font-size: 2rem
          padding: .5rem
          margin: 0
          font-weight: 500
          background: 0 0
          overflow: hidden
          &:hover,
          &:active
            border-bottom: 2px solid black

          &:focus
            outline: none

    &__burgericon
      &-container
        display: inline-block
        cursor: pointer

    &__burgericon
      &-bar1,
      &-bar2,
      &-bar3
        width: 35px
        height: 5px
        background-color: #333
        margin: 6px 0
        border-radius: 20px
        transition: 0.4s

.change
  .header
    &__burgericon
      &-bar1
        -webkit-transform: rotate(-45deg) translate(-9px, 6px)
        transform: rotate(-45deg) translate(-8px, 6px)
      &-bar2
        opacity: 0
      &-bar3
        -webkit-transform: rotate(45deg) translate(-8px, -8px)
        transform: rotate(45deg) translate(-9px, -8px)
