/*///////////////////
// TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////
// HEADING
///////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////
// TITLES SEPARATORS
//////////////////////*/
.title-separator
  h1
    font-size: 4rem
    font-family: 'Cormorant'
    @apply font-medium
    font-style: normal
    color: $black
    text-align: center
    @screen lg
      font-size: 7.5rem

  &::before
    content: ''
    display: block
    height: 0.3rem
    width: 12.925rem
    margin-left: auto
    margin-bottom: 1rem
    margin-right: auto
    @screen lg
      width: 25.85rem




.title-separator--secondary::after,
.title-separator--secondary::before
    background-color: $secondary-light
