{% extends 'base.html.twig' %}

{% block title %}CategoryArticle index{% endblock %}

{% block body %}
    {% include 'page/header.html.twig' %}
    <div class="my-20">
        <div class="searchbar flex w-full items-center">
            <div class="filter flex justify-center items-center">
                <img src="{{ asset('images/icons/funnel.png') }}" alt="">
            </div>
            <div class="dropdown relative flex items-center justify-center">
                <select class="appearance-none uppercase font-medium">
                    <option disabled="" selected="">Collections</option>
                    <option>New Mexico</option>
                    <option>Missouri</option>
                    <option>Texas</option>
                </select>
            </div>
            <div class="dropdown relative flex items-center justify-center">
                <select class="appearance-none uppercase font-medium">
                    <option disabled="" selected="">Catégorie</option>
                    <option>New Mexico</option>
                    <option>Missouri</option>
                    <option>Texas</option>
                </select>
            </div>
        </div>
    </div>
    <div class="px-8 xl:px-0 lg:flex lg:justify-center">
        {% for category_article in category_articles %}
        <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
            <div class="thumb--cart__image">
                <img src="{{ asset('images/inte-colinmsd/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                    <div class="flex flex-col justify-between">
                        <p class="thumb--cart__title">{{ category_article.name }}</p>
                        <p class="thumb--cart__price">{{ category_article.articles }}</p>
                    </div>
                    <div class="thumb--cart__icon">
                        <img src="{{ asset('images/icons/icon-cart.svg') }}" alt="Icon Cart">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav class="pagination my-24">
        <ul class="flex items-center justify-center">
            <li><svg class="svg-inline--fa fa-chevron-left fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg><!-- <i class="fas fa-chevron-left"></i> --></li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li><svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <i class="fas fa-chevron-right"></i> --></li>
        </ul>
    </nav>
    {% include 'page/footer.html.twig' %}

{% endblock %}
