:root {
    --white: #FFFFFF;
    --grey: #686868;
    --lightGrey: #A0AEC0;
    --black: #050505;
    --primary: #007FFF;
    --softBlue: #7CC6FE;
    --limeGreen: #5DFDCB;
    --secondary: #C3F73A;
}

.white {
    color: var(--white);
}
.grey {
    color: var(--grey);
}
.lightGrey {
    color: var(--lightGrey);
}
.black {
    color: var(--black);
}
.primary {
    color: var(--primary);
}
.softBlue {
    color: var(--softBlue);
}
.limeGreen {
    color: var(--limeGreen);
}
.secondary {
    color: var(--secondary);
}