.cart
  @apply relative
  &--bar
    @screen lg
      border-bottom: 0.3rem solid $gray-200
      *
        @apply font-medium
        font-size: 2.2rem
        color: $gray-200
      &__image
        width: 13rem
      &__amount
        width: 15.6rem
        @apply text-center
      &__content--category
        width: 13.5rem
  &--content
    @screen lg
      min-height: 60rem
  &--title
    @screen lg
      @apply w-full
      @apply absolute
      transform: translateY(-50%)
      top: 50%
      z-index: -1
    h1
      @apply font-black
      font-size: 7.5rem
      color: $gray-200
      writing-mode: vertical-lr
      transform: rotate(180deg)
      text-orientation: mixed
