/*///////////
/// INPUT NUMBER
////////////////////////////////*/
.input--number
  display: inline-block
  font-size: 0


  &__field
    display: inline-block
    vertical-align: top
    text-align: center
    overflow: hidden
    width: 4rem
    height: 4rem
    font-size: 1.1rem
    font-weight: 700
    line-height: 1.3rem
    background: transparent
    border: none
    background: #E2E2E2
    @screen lg
      width: 8rem
      height: 8rem
      font-size: 2.2rem
      line-height: 2.6rem

  &__btn
    display: inline-block
    vertical-align: top
    position: relative
    width: 1.9rem
    height: 2.0rem
    padding: 0
    border: none
    background: #000000
    @screen lg
      width: 3.8rem
      height: 4.0rem



  &__btn
    &--down
      transform: translate(50%,50%)
      &::before
        content: ''
        position: absolute
        display: block
        left: 0.65rem
        top: 0.9rem
        height: 0.15rem
        width: 0.6rem
        background: #FFFFFF
        @screen lg
          left: 1.3rem
          top: 1.8rem
          height: 0.3rem
          width: 1.2rem


    &--up
      transform: translate(-50%,50%)
      &:before
        content: ''
        position: absolute
        display: block
        left: 0.65rem
        top: 0.9rem
        height: 0.15rem
        width: 0.6rem
        background: #FFFFFF
        @screen lg
          left: 1.3rem
          top: 1.8rem
          height: 0.3rem
          width: 1.2rem
      &::after
        content: ''
        position: absolute
        display: block
        left: 0.65rem
        top: 0.9rem
        height: 0.15rem
        width: 0.6rem
        background: #FFFFFF
        transform: rotate(90deg)
        @screen lg
          left: 1.3rem
          top: 1.8rem
          height: 0.3rem
          width: 1.2rem

  &__field
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
