.cart-item
  &--sm
    max-width: 52rem
    @screen lg
      height: 13rem

  @screen lg
    height: 13rem

  &__image
    width: 8.5rem
    @screen lg
      width: 13rem

  &__content
    &--title
      font-weight: 500
      font-size: 1.8rem
      color: $black
      @screen lg
        font-size: 2.2rem
    &--category
      color: #A3A3A3
      font-size: 1.8rem
      font-weight: 500
      @screen lg
        font-size: 2.2rem

  &__size
    font-weight: 500
    font-size: 1.8rem
    color: #000000
    @screen lg
        font-size: 2.2rem
  &__color
    font-weight: 500
    font-size: 1.8rem
    color: #000000
    img
      width: 3rem
      height: 3rem

  &__price
    font-weight: lighter
    font-size: 1.6rem
    color: black
    @screen lg
        font-size: 2rem
