@keyframes animatetop
  from
    top: -300px
    opacity: 0
  to
    top: 0
    opacity: 1

.modal
  background-color: rgba(0,0,0,0.2)

  &__content
    background-color: $white
    animation-name: animatetop
    animation-duration: 0.4s
    border-radius: 2rem

  &__header
    border-top-right-radius: 2rem
    border-top-left-radius: 2rem

  &__body td
    padding: 10px 3%

  &__footer
    border-bottom-right-radius: 2rem
    border-bottom-left-radius: 2rem

