.pagination
  font-size: 1.5rem
  & ul
    list-style-type: none
    & li
      margin-right: 0.8rem
      width: 2rem
      height: 2rem
      text-align: center
      &.active
        margin-right: 0.8rem
        background-color: #004FFF
        color: white
      &:last-child
        margin-right: 0rem
