.searchbar
  height: 5.5rem
  border-top: 0.1rem solid #979797
  border-bottom: 0.1rem solid #979797
  @screen lg
    height: 11rem


.filter
  height: 5.5rem
  width: 5.5rem
  border-right: 0.1rem solid #979797
  img
    height: 1.9rem
    width: 1.9rem
    @screen lg
      width: 3.8rem
      height: 3.8rem
  @screen lg
    width: 9.3rem
    height: 11rem
