.slideshow
  width: 100%
  height: 100%
  @screen lg
    max-width: 72rem
    max-height: 72rem
  &--content
    overflow: hidden
    &--item
      display: block
      width: 100%
      height: 100%
  &--button__prev,
  &--button__next
    width: 3.4rem
    height: 3.4rem
    border-radius: 5rem
    position: relative
    background-color: #FFFFFF
    transition: background-color 0.25s ease
    position: absolute
    transform: translateY(-50%)
    top: 50%
    img
      width: 25%
      position: absolute
      transform: translate(-50%,-50%)
      top: 50%
      left: 50%
    &:hover
      background-color: #F5F5F5
    @screen lg
      width: 6.8rem
      height: 6.8rem
  &--button
    &__next
      right: 3rem
    &__prev
      left: 3rem
