.thumb--cart
  padding-right: 3.5rem
  padding-left: 3.5rem
  &__title
    font-size: 3rem
    color: black
    font-weight: medium
  &__price
    font-size: 2rem
    color: #A5A5A5
    font-weight: bold
  &__icon
    width: 4.2rem
    height: 4.2rem
    color: #D8D8D8
