{% extends 'admin.html.twig' %}

{% block title %}Administration - Édition blog{% endblock %}
{% form_theme form 'administration/blog/_collectionImage.html.twig' %}
{% block body %}
	<div class="container">
		<h1>Édition blog</h1>
		{{ form_start(form) }}
			<div class="form-group">
				<label>Nom du blog</label>	
				{{ form_widget(form.title) }}
			</div>
			<div class="form-group">
				<label>Contenu</label>
				{{ form_widget(form.content) }}
			</div>
			<div class="form-group">
				<label>Résumé</label>
				{{ form_widget(form.description) }}
			</div>
			<div class="form-group">
				<label>Image de couverture</label>
				{{ form_widget(form.coverImage) }}
			</div>
			<div class="form-group">
				<label>Ajouter un ou plusieur tag</label>
				{{ form_widget(form.tagBlog) }}
			</div>
  			<button type="submit" class="btn btn-primary">Enregistrer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
