{% extends 'admin.html.twig' %}

{% block title %}Administration - Liste blog{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des blogs</h1>
        <div id="myCatalogue"><a href="{{ path('blog_new') }}" type="submit" class="btn btn-primary m-3">Ajouter</a></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom du blog</th>
                    <th>Contenu</th>
                    <th>Résumé</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                <tr>
                    <td>{{ blog.id }}</td>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.content }}</td>
                    <td>{{ blog.description }}</td>
                    <td>
                        <a href="{{ path('blog_edit', {'id': blog.id}) }}"><span class="fa fa-wrench"></span></a>
                        <a href="{{ path('blog_delete', {'id': blog.id}) }}"><span class="fa fa-trash-o"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Pas de blog trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
