{% extends 'admin.html.twig' %}

{% block title %}New blog{% endblock %}

{% block body %}
    <h1>Créer un nouveau blog</h1>

    {{ include('administration/blog/_form.html.twig') }}

{% endblock %}
