#logo{
    width: 50px;
}
form {
    width: 70%;
}
#nbarticle {
    width: 20%;
}

.list-group-item + .list-group-item.pseudo-active {
    margin-top: -1px;
    border-top-width: 1px;
}
.list-group-item.pseudo-active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
