/*///////////////////
// CONTAINER
///////////////////////////////////////////////////////////////////////////////*/
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px !important;
}

.container--lg{
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px !important;
}
