{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}

    <div class="flex flex-col items-center container--lg my-32">
        <div class="title-separator title-separator--secondary mb-10 lg:my-20">
            <h1 class="title-mainpart">Demander un devis</h1>
        </div>
        <div class="devis__container flex flex-col w-2/3 p-12">
            <table>
                <tbody>
                <tr class="w-full">
                    <td class="w-full py-4" colspan="2">
                        <input type="text" name="nomservice" class="form__input" placeholder="Nom du service">
                    </td>
                </tr>
                <tr class="w-full">
                    <td class="w-full py-4"  colspan="2">
                        <input type="text" name="societe" class="form__input" placeholder="Société">
                    </td>
                </tr>
                <tr class="w-full">
                    <td class="w-1/2 py-4 pr-2"  colspan="1">
                        <input type="text" name="nomcontact" class="form__input" placeholder="Nom contact">
                    </td>
                    <td class="w-1/2 py-4 pl-2"  colspan="1">
                        <input type="text" name="prenomcontact" class="form__input" placeholder="Prénom contact">
                    </td>
                </tr>
                <tr class="w-full">
                    <td class="w-full py-4"  colspan="2">
                        <input type="text" name="fonction" class="form__input" placeholder="Fonction">
                    </td>
                </tr>
                <tr class="w-full">
                    <td class="w-1/2 py-4 pr-2"  colspan="1">
                        <input type="email" name="adressemail" class="form__input" placeholder="Adresse mail">
                    </td>
                    <td class="w-1/2 py-4 pl-2"  colspan="1">
                        <input type="tel" name="telephone" class="form__input" placeholder="Téléphone">
                    </td>
                </tr>
                <tr class="w-full">
                    <td class="w-full py-4"  colspan="2">
                        <textarea name="fonction" class="form__input" placeholder="Détaillez votre besoin" rows="6"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <button  class="btn-green-gradient-outline self-center my-8"><span class="text-green-gradient">Demander un devis</span></button>
        </div>
    </div>


{% endblock %}
