{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <h1>Devis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ devi.quantity }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ devi.details }}</td>
            </tr>
            <tr>
                <th>NumContact</th>
                <td>{{ devi.numContact }}</td>
            </tr>
            <tr>
                <th>EmailContact</th>
                <td>{{ devi.emailContact }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ devi.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ devi.firstname }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ devi.company }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('devis_index') }}">back to list</a>

    <a href="{{ path('devis_edit', {'id': devi.id}) }}">edit</a>
{% endblock %}
