.footer__center {
    background-color: rgba(255,255,255,0.1);
}

.footer__h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    color: var(--white);
    text-transform: uppercase;
}

.footer__h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    color: var(--white);
    text-transform: uppercase;
}

.footer__h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}

.footer__coordonnees {
    padding-left: 8rem;
    border-left: 1px solid var(--white);
    background: url('/assets/images/logo_white.png');
}

.footer__icon {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--white);
}

.footer__bottom-line {
    border-bottom: 2px solid var(--white);
}

.footer__img {

}