/*modal structure

<div id="modal-inscription" class="modal hidden fixed z-0 py-40 left-0 top-0 w-full h-full overflow-auto">
  <div class="modal__content relative bg-white m-auto p-0 border w-4/5">

    <div class="modal__header pt-16 bg-white text-center">
      <span class="modal__close absolute -mt-5 top-0 right-0 m-2 text-white text-6xl font-bold hover:text-black focus:text-black hover:no-underline focus:no-underline cursor-pointer" onclick="document.getElementById('myModal').style.display = 'none';">&times;</span>
      
    </div>

    <div class="modal__body p-4">
      
    </div>

    <div class="modal__footer pb-16 pt-10 bg-white text-center">

    </div>

  </div>
</div>
*/
.modal__content {
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 2rem;
}

@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
	}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.modal {
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.2);
}
.modal__header {
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
}
.modal__body td {
	padding: 10px 3%;
}
.modal__footer {
	border-bottom-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
}