{% extends 'admin.html.twig' %}

{% block title %}Administration - Édition Article{% endblock %}
{% form_theme form 'administration/article/_collectionImage.html.twig' %}
{% block body %}
	<div class="container">
		<h1>Édition d'un service</h1>
		{{ form_start(form) }}
			<div class="form-group">
				{# <label>Nom de l'article</label> #}
				{{ form_widget(form.libelle) }}
			</div>
			<div class="form-group">
				<label>Prix de l'article</label>
				{{ form_widget(form.content) }}
			</div>
  			<button type="submit" class="btn btn-primary">Enregistrer</button>
			{{ form_end(form) }}
	</div>
{% endblock %}