{% extends 'admin.html.twig' %}

{% block title %}Administration - Liste des services{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des services</h1>
        <div id="myCatalogue"><a href="{{ path('service_new') }}" type="submit" class="btn btn-primary m-3">Ajouter</a></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom du services</th>
                    <th>Contenue</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.libelle }}</td>
                    <td>{{ service.content }}</td>
                    <td>
                        <a href="{{ path('service_edit', {'id': service.id}) }}"><span class="fa fa-wrench"></span></a>
                        <a href="{{ path('service_delete', {'id': service.id}) }}"><span class="fa fa-trash-o"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Pas de services trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
