{% extends 'admin.html.twig' %}

{% block title %}Administration - Liste des services{% endblock %}

{% block body %}
    <div class="container">
        <h1>Devis services reçus</h1>
        {# <div id="myCatalogue"><a href="{{ path('service_new') }}" type="submit" class="btn btn-primary">Ajouter</a></div> #}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Client</th>
                    <th>Entreprise</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Fonction</th>
                    <th>Email</th>
                    <th>Numéro</th>
                    <th>Détails</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for devi in devis %}
                <tr>
                    <td>{{ devi.id }}</td>
                    <td>{{ devi.service }}</td>
                    <td>{{ devi.company }}</td>
                    <td>{{ devi.lastname }}</td>
                    <td>{{ devi.firstname }}</td>
                    <td>{{ devi.fonction }}</td>
                    <td>{{ devi.emailContact }}</td>
                    <td>{{ devi.numContact }}</td>
                    <td>{{ devi.details }}</td>
                    <td>
                        <a href="{{ path('service_admin_show', {'id': devi.id}) }}"><span class="fa fa-wrench"></span></a>
                        {# <a href="{{ path('service_delete', {'id': service.id}) }}"><span class="fa fa-trash-o"></a> #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Pas de services trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
