{% extends 'admin.html.twig' %}

{% block title %}Administration - Édition Article{% endblock %}
{% block body %}
	<div class="container">
		<h1>Details devis</h1>
		{{ form_start(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}