{% extends 'base.html.twig' %}

{% block title %}Recap Commande{% endblock %}

{% block body %}

    <div class="flex flex-col justify-center container--lg my-32">
        <div class="title-separator title-separator--secondary mb-10 lg:my-20">
            <h1 class="title-blog-details">Historique des commandes</h1>
            <h2 class="title-article-sub text-center">(x) commandes passées</h2>
        </div>
        <div class="flex flex-col my-8">
            <div class="mini-card flex flex-col lg:w-3/5 w-full p-12 my-8 mx-4">
                <div class="flex flex-col">
                    <h3 class="title-article-sub my-4">Commande #X</h3>
                    <div class="flex flex-col">
                        <p class="text-description">Date de commande : 21/12/2019</p>
                        <p class="text-description">Montant : 4000 €</p>
                        <p class="text-description">Commentaire</p>
                    </div>
                </div>
                <button class="btn-grey self-end mt-12">Voir détail</button>
            </div>
            <div class="mini-card flex flex-col self-end lg:w-3/5 w-full p-12 my-8 mx-4">
                <div class="flex flex-col">
                    <h3 class="title-article-sub my-4">Commande #X</h3>
                    <div class="flex flex-col">
                        <p class="text-description">Date de commande : 21/12/2019</p>
                        <p class="text-description">Montant : 4000 €</p>
                        <p class="text-description">Commentaire</p>
                    </div>
                </div>
                <button class="btn-grey self-end mt-12">Voir détail</button>
            </div>
        </div>
    </div>


{% endblock %}