{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}

<div class="flex flex-col container--lg my-32">
    <div class="title-separator title-separator--secondary mb-10 lg:my-20">
        <h1 class="title-blog-details text-center">Commande en cours</h1>
        <h2 class="title-article text-center">(x) Commande en cours</h2>
    </div>

    {% for commande in commandes %}
        {% if loop.index is odd %}
            <div class="flex flex-col">
                <div class="mini-card flex flex-col lg:w-3/5 w-full p-12 my-8 mx-4">
                    <div class="flex flex-col">
                        <h3 class="title-article my-4">{{ commande.id }}</h3>
                        <div class="flex flex-col">
                            <p class="text-description">{{ commande.date }}</p>
                            <p class="text-description">{{ commande.prixHT }}</p>
                            <p class="text-description">{{ commande.commentaire }}</p>
                        </div>
                    </div>
                    <button class="btn-grey self-end mt-12">Voir détail</button>
                </div>
        {% endif %}
        {% if loop.index is even %}
                <div class="mini-card flex flex-col self-end lg:w-3/5 w-full p-12 my-8 mx-4">
                    <div class="flex flex-col">
                        <h3 class="title-article my-4">{{ commande.id }}</h3>
                        <div class="flex flex-col">
                            <p class="text-description">{{ commande.date }}</p>
                            <p class="text-description">{{ commande.prixHT }}</p>
                            <p class="text-description">{{ commande.commentaire }}</p>
                        </div>
                    </div>
                    <button class="btn-grey self-end mt-12">Voir détail</button>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
