{% extends 'base.html.twig' %}

{% block title %}Recap Commande{% endblock %}

{% block body %}

<div class="flex flex-col my-24 container--lg">
    <div class="flex flex-col my-12 px-8 lg:px-0">
        <h1 class="title-commande my-4">Récapitulatif de votre commande :</h1>
        <p class="text-price">39,80 €</p>
        <h2 class="text-paragraphe">2 articles</h2>
    </div>
    <div class="px-8 my-8 lg:px-0 lg:flex lg:justify-between">
        <div class="cart-item--sm flex justify-between items-center my-12 w-full lg:w-1/2">
            <div class="flex items-center justify-around">
                <div class="cart-item__image mr-8 lg:mr-16">
                    <img src="{{ asset('images/jpg/toothbrush.jpg')}}"
                         alt="toothbrush">
                </div>
                <div class="cart-item__content">
                    <p class="cart-item__content--title">Brosse à dent</p>
                    <p class="cart-item__content--category">Hygiène</p>
                </div>
            </div>
            <div class="cart-item__price"> 19.90€
            </div>
        </div>
        <div class="cart-item--sm flex justify-between items-center my-12 w-full lg:w-1/2">
            <div class="flex items-center justify-around">
                <div class="cart-item__image mr-8 lg:mr-16">
                    <img src="{{ asset('images/jpg/toothbrush.jpg')}}" alt="toothbrush">
                </div>
                <div class="cart-item__content">
                    <p class="cart-item__content--title">Brosse à dent</p>
                    <p class="cart-item__content--category">Hygiène</p>
                </div>
            </div>
            <div class="cart-item__price"> 19.90€
            </div>
        </div>
    </div>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <a href="" id="customButton" class="btn-primary self-center my-24 cursor-pointer">Payer avec stripe</a>
    <script>
        var handler = StripeCheckout.configure({
            key: 'pk_test_G6hvs2qdD58sewdKOD2RXprF',
            image: '../../public/img/logo.png' +
                '                                    ',
            locale: 'auto',
            token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
            }
        });
        // faire une somme de tout les articles ici
        document.getElementById('customButton').addEventListener('click', function(e) {
            // Open Checkout with further options:
            handler.open({
                name: 'Panier',
                description: '',
                currency: 'eur',
                amount: 3980
            });
            e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
            handler.close();
        });
    </script>

</div>

{% endblock %}