{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}

<div class="flex flex-col container--lg my-32">
    <div class="title-separator title-separator--secondary mb-10 lg:my-20">
        <h1 class="title-blog-details text-center">Commande n°2256</h1>
    </div>

    {% for commande in commandes %}
        {% if loop.index is odd %}
            <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                <div class="flex flex-col p-16 justify-between">
                    <h1 class="text-6xl">{{commande.title}}</h1>
                    <p class="text-paragraphe text-justify">{{commande.price}}</p>
                    <p class="text-paragraphe text-justify">{{commande.quantity}}</p>
                    <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                </div>
                <img class="img-cover" src="../images/png/bonsai.png" alt="Bonsaï"/>
            </div>
        {% endif %}
        {% if loop.index is even %}
            <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                <img class="img-cover" src="../images/png/bonsai.png" alt="Bonsaï"/>
                <div class="flex flex-col p-16 justify-between">
                    <h1 class="text-6xl">{{commande.title}}</h1>
                    <p class="text-paragraphe text-justify">{{commande.price}}</p>
                    <p class="text-paragraphe text-justify">{{commande.quantity}}</p>
                    <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
