{% extends 'base.html.twig' %}

{% block title %}Recap Commande{% endblock %}

{% block body %}

    <div class="flex flex-col container--lg my-32">
        <div class="flex flex-col items-center my-24">
            <div class="flex flex-col items-center mb-24">
                <i class="fas fa-check fa-10x opacity-25 my-16"></i>
                <h1 class="title-commande-valide text-center uppercase my-4">Votre commande a bien été enregistrée</h1>
                <p class="text-paragraphe">Numéro de commande : XXXX-XXXX-XXXX-XXXX</p>
            </div>
            <a class="link-blue hover:text-blue-300" href="{{ path('home') }}">Retour à l'accueil</a>
        </div>
    </div>


{% endblock %}