.author
  &-card
    &__image
      border: 0.1rem solid #A5A5A5
      img
        width: 10rem
        height: 10rem
        border-radius: 50rem

    &__content
      text-align: center
      border: 0.1rem solid #A5A5A5
      border-top: none

    &__name
      color: #A5A5A5
      font-style: italic
      font-size: 1.5rem

    &__role
      font-weight: medium
      font-size: 1.5rem
      color: #004FFF
