.btn
    &-header
        border: none
        font-family: 'Roboto'
        font-size: 2rem
        font-weight: 500
        padding: 0.3rem 3.5rem
        outline: none
        &:hover,
        &:focus,
        &:active
            outline: none
        &-outline
            font-family: 'Roboto'
            font-size: 2rem
            font-weight: 500
            padding: 0.3rem 3.5rem
            outline: none
            border: 1px solid $black
            border-width: 0.2rem
            border-radius: 1.3rem
            outline: none
            &:hover, 
            &:focus, 
            &:active
                outline: none
                background-color: $black
                color: $white

    &-grey
        border: 1px solid $gray-300
        border-radius: 3rem
        padding: 1rem 3.5rem
        color: $gray-200
        font-family: 'Roboto'
        font-size: 1.5rem
        font-weight: 400
        &:hover, 
        &:focus, 
        &:active
            outline: none

    &-blue-gradient
        height: 3rem
        width: 18rem
        border: solid 1px transparent
        border-radius: 1.4rem
        background-image: linear-gradient(rgb(245,247,246), rgb(245,247,246)), radial-gradient(circle at top left, $primary, $primary-light)
        background-origin: border-box
        background-clip: content-box, border-box
        outline: none
        &:hover, 
        &:focus, 
        &:active
            outline: none

    &-green-gradient
        font-family: 'Roboto'
        font-size: 2.5rem
        font-weight: 400
        padding: 1rem 4rem
        border: none
        background: linear-gradient(to right, $secondary-light, $secondary)
        border-width: thin
        border-radius: 3rem
        outline: none
        &:hover, 
        &:focus, 
        &:active
            outline: none
        &-outline
            height: 4.5rem
            width: 18rem
            border: solid 1px transparent
            border-radius: 3rem
            background-image: linear-gradient(rgb(245,247,246), rgb(245,247,246)), radial-gradient(circle at top left, $secondary-light, $secondary)
            background-origin: border-box
            background-clip: content-box, border-box
            outline: none
            &:hover, 
            &:focus, 
            &:active
                outline: none

    &-primary
        font-family: 'Roboto'
        font-size: 2.5rem
        padding: 0.8rem 6rem
        border: none
        color: $white
        background-color: $primary
        outline: none
        &:hover, 
        &:focus, 
        &:active
            background-color: $primary-light
            outline: none

    &-category
        font-family: 'Roboto'
        font-size: 2rem
        padding: 1rem 2rem
        color: $white
        border: none
        letter-spacing: 0.2rem
        text-transform: uppercase
        border-radius: 3rem
        background-color: $gray-800
        outline: none
        &:hover, 
        &:focus, 
        &:active
            outline: none


    &-checkbox-img
        outline: none
        padding: 1rem
        border-radius: 50%
        background-color: $gray-200
        &:hover
            outline: none
        &:focus, 
        &:active
            outline: none
            opacity: 0.5

.input
    &-border-bottom
        outline: none
        border-bottom: 2px solid $gray-400
        &:focus, 
        &:active
            border-bottom: 2px solid $primary

.btn-xl
    width: 36rem
