.radio-img
  input
    + label
      outline: none
      padding: 1rem
      border-radius: 50%
      background-color: $gray-200
    &:checked
      + label
        background-color: $gray-400
    &:hover
      + label
        background-color: $gray-300
