@keyframes maxheight
  from
    max-height: 0


  to
    max-height: 250px


li
  list-style-type: none

.dropdown--header
  cursor: pointer
  transition: max-height
  &__content
    transform: translateX(-25%)
    width: 250px
    overflow: hidden
    transition-property: max-height
    max-height: 0px
    transition: all .5s ease
.dropdown--header:hover
  .dropdown--header__content
    z-index: 10000
    background-color: $white
    border-radius: 5px
    max-height: 750px


.dropdown
  position: relative
  text-align: center
  font-size: 1.5rem
  width: 15rem
  height: 5.5rem
  border-right: 0.1rem solid #979797
  &:not:first-child
    border-right: none
  &::after
    font-size: 2rem
    width: 2rem
    content: url('../../../images/icons/chevron-down.svg')
    transition: transform 1s ease
  &:focus
    &::after
      transform: rotate(180deg)
  @screen lg
    position: relative
    text-align: center
    font-size: 2.5rem
    width: 30rem
    height: 11rem
    border-right: 0.1rem solid #979797

select
  text-align: center
  text-align-last: center
  background-color: rgba(255,255,255,0)

option
  text-align: left
