.form
    &__input  
        width: 100% 
        border: 1.5px solid $black
        border-radius: 15px 
        font-size: 2em 
        padding: 3px 15px 
        outline: none 
 
    &__input::placeholder  
	    color: $gray-700

    &__submit 
        font-size: 3em 
        font-style: bold 
        border-radius: 9999px 
        background-image: linear-gradient(to right, $secondary-light , $secondary) 
        padding: 10px 80px 
        cursor: pointer 
        outline: none 

    &__radio  
        position: relative 
        cursor: pointer 
        line-height: 20px 
        margin: 15px 
        &-content  
            font-size: 2em 

        &-label
            position: relative
            display: inline-block
            margin-right: 10px
            width: 20px
            height: 20px
            border: 2px solid #c8ccd4
            border-radius: 100%
            -webkit-tap-highlight-color: transparent
            &:after
                content: ''
                position: absolute
                top: 3px
                left: 3px
                width: 10px
                height: 10px
                border-radius: 100%
                background: $black
                transform: scale(0)
                transition: all 0.2s ease
                opacity: 0.08
                pointer-events: none


.form__radio:hover .form__radio-label:after
    transform: scale(3.6)


input[type="radio"]:checked + .form__radio-label
    border-color: #000


input[type="radio"]:checked + .form__radio-label:after
    transform: scale(1)
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9)
    opacity: 1


.test
    font-size: 2rem