.link
  &-blue
    font-family: 'Roboto'
    font-size: 1.8rem
    font-weight: normal
    color: $primary
    &-gradient
      font-family: 'Roboto'
      font-size: 1.2rem
      font-weight: normal
      background: linear-gradient(to left, $primary, $primary-light)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
  &-blue-arrow
    font-family: 'Roboto'
    font-size: 1.8rem
    font-weight: normal
    color: $primary
    &:hover
      color: $primary
    &:after
      content: " ➜"
      transition: all ease .5s
      position: relative
      left: 5px
      opacity: 0
    &:hover:after
      content: " ➜"
      transition: all ease .5s
      left: 5px
      opacity: 1


.link
  &-softBlue
    &-italic
      font-family: 'Roboto'
      font-size: 1.5rem
      font-weight: normal
      font-style: italic
      color: $primary-light
      &:hover
        color: $primary-light