.text
  &-green
    &-gradient, &-gradient:hover, &:active, &:focus
      font-family: 'Roboto'
      font-size: 1.5rem
      background: linear-gradient(to right, $secondary-light, $secondary)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

  &-blue
    &-gradient
      font-family: 'Roboto'
      font-size: 1.2rem
      background: linear-gradient(to right, $primary, $primary-light)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

  &-black
    &-bold
      font-family: 'Roboto'
      font-weight: 700
      font-style: normal

  &-contact
    &-main
      font-family: 'Roboto'
      font-weight: 400
      font-size: 2rem
      font-style: normal
      color: $gray-400

    &-sub
      font-family: 'Roboto'
      font-weight: 400
      font-size: 1.8rem
      font-style: normal
      color: $primary


  &-title
    font-family: 'Cormorant'
    font-weight: normal
    font-size: 5rem
    font-style: normal
    color: $primary

  &-paragraphe
    font-family: 'Roboto'
    font-weight: 400
    font-size: 1.5rem
    font-style: 500
    color: $gray-400
  
  &-description
    color: $gray-400
    font-family: 'Roboto'


  &-blog
    color: $black
    font-family: 'Roboto'
    font-weight: 400
    font-size: 2rem
    line-height: 3rem
    &-lettrine::first-letter
      font-weight: bold
      float: left
      font-size: 3em
      padding: 1rem
    &-subtittle
      color: $gray-400
      font-family: 'Roboto'
      font-size: 2rem
      font-weight: 400
  &-price
    color: $black
    font-family: 'Roboto'
    font-weight: bold
    font-size: 4rem



.arrow-right
    width: 14px
    height: 14px
    background-color: $primary
    clip-path: polygon(0 0, 0 100%, 100% 50%)


.title
  &-contact
    font-family: 'Cormorant'
    font-size: 8rem
    font-weight: 100
    width: 100%
    color: $white


  &-mainpart
    color: $primary
    font-family: 'Cormorant'
    font-size: 12rem
    font-weight: 100
    width: 100%

  &-subpart 
    color: $primary
    font-family: 'Cormorant'
    font-size: 8rem
    font-weight: 400
    width: 100%

  &-article
    font-family: 'Roboto'
    font-size: 2rem
    color: $white
    font-weight: 400
    &-sub
      font-family: 'Roboto'
      font-size: 2rem
      font-weight: 400
      color: $black

  &.title-blog 
    font-family: 'Roboto'
    font-size: 2rem
    font-weight: 700

  &-blog-details
    font-family: 'Cormorant'
    font-size: 8rem
    font-weight: 500
    margin: auto
    text-align: center

  &-commande
    font-family: 'Roboto'
    font-weight: bold
    font-size: 2rem
    color: $gray-500

  &-commande-valide
    font-family: 'Roboto'
    font-weight: bold
    font-size: 3em

.top-150
  top: -150px

.blue
  color: $primary !important