{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <div class="my-20">
        <div class="searchbar flex w-full items-center">
            <div class="filter flex justify-center items-center">
                <img src="{{ asset('images/icons/funnel.png') }}" alt="">
            </div>
            <div class="dropdown relative flex items-center justify-center">
                <select class="appearance-none uppercase font-medium">
                    <option disabled="" selected="">Collections</option>
                    <option>Printemps</option>
                    <option>Eté</option>
                    <option>Hiver</option>
                </select>
            </div>
            <div class="dropdown relative flex items-center justify-center">
                <select class="appearance-none uppercase font-medium">
                    <option disabled="" selected="">Catégorie</option>
                    <option>Salle de Bains</option>
                    <option>Cuisine</option>
                    <option>Chambre</option>
                </select>
            </div>
        </div>
    </div>
    {% for blog in blogs %}
    {{ loop.index }}
    <div class="lg:flex flex-col container--lg">
        {% if loop.index is odd %}
            <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                <div class="w-4/12">
                <img class="img-cover" src="{{ asset('images/inte-athe/bonsai.png') }}" alt="Bonsaï">
                </div>
                <div class="flex flex-col p-16 justify-between w-8/12">
                    <h1 class="text-6xl">{{ blog.title }}</h1>
                    <p class="text-paragraphe text-justify">{{ blog.description }}</p>
                    <div class="flex justify-end">
                        <a href="{{ path('blog_show', {'id': blog.id}) }}"
                           class="btn-green-gradient-outline flex justify-center items-center">
                                <span class="text-green-gradient">Lire
                      l'article</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if not loop.index is odd %}
        <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
            <div class="flex flex-col p-16 justify-between w-8/12">
                <h1 class="text-6xl">{{ blog.title }}</h1>
                <p class="text-paragraphe text-justify">{{ blog.description }}</p>
                <div class="flex justify-end">
                    <a href="{{ path('blog_show', {'id': blog.id}) }}"
                       class="btn-green-gradient-outline flex justify-center items-center">
                                <span class="text-green-gradient">Lire
                      l'article</span>
                    </a>
                </div>
            </div>
            <div class="w-4/12">
            <img class="img-cover" src="{{ asset('images/inte-athe/bonsai.png') }}" alt="Bonsaï">
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>
    {% for blog in blogs %}
        {{ loop.index }}
        <div class="lg:flex flex-col container--lg">
            {% if loop.index is odd %}
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <div class="w-4/12">
                        <img class="img-cover " src="{{ asset('images/inte-athe/bonsai.png') }}" alt="Bonsaï">
                    </div>
                    <div class="flex flex-col p-16 justify-between w-8/12">
                        <h1 class="text-6xl">{{ blog.title }}</h1>
                        <p class="text-paragraphe text-justify">{{ blog.description }}</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                              l'article</span></button>
                    </div>
                </div>
            {% endif %}
            {% if not loop.index is odd %}
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <div class="flex flex-col p-16 justify-between w-8/12">
                        <h1 class="text-6xl">{{ blog.title }}</h1>
                        <p class="text-paragraphe text-justify">{{ blog.description }}</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                              l'article</span></button>
                    </div>
                    <div class="w-4/12">
                        <img class="img-cover" src="{{ asset('images/inte-athe/bonsai.png') }}" alt="Bonsaï">
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <nav class="pagination my-24">
        <ul class="flex items-center justify-center">
            <li>
                <svg class="svg-inline--fa fa-chevron-left fa-w-10" aria-hidden="true" focusable="false"
                     data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 320 512" data-fa-i2svg="">
                    <path fill="currentColor"
                          d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path>
                </svg><!-- <i class="fas fa-chevron-left"></i> --></li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>
                <svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" focusable="false"
                     data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 320 512" data-fa-i2svg="">
                    <path fill="currentColor"
                          d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                </svg><!-- <i class="fas fa-chevron-right"></i> --></li>
        </ul>
    </nav>
{% endblock %}

