{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container my-32">
        <div class="title-separator title-separator--secondary mb-10 lg:my-20">
            <h1 class="text-center">{{ blog.title }}</h1>
            <p class="text-blog-subtittle text-center">Par First Author et Second Author publié aujourd'hui à 19h30, mis à jour à 20h45</p>
            <p class="text-paragraphe text-center"><i class="fa fa-clock mx-2"></i>Temps de lecture : 4 minutes</p>
        </div>
        <div class="flex flex-col">
            <img src="{{ asset('images/jpg/plant_bulb.jpg') }}" alt="bottle"/>
            <div class="flex flex-col my-24">
                <div class="flex flex-col lg:relative">
                    <div class="lg:absolute lg:right-0 flex justify-center my-12">
                        <div class="author-card">
                            <div class="author-card__image p-12">
                                <img src="{{ asset('images/jpg/lucas.jpg') }}" alt="Lucas" class="img-cover">
                            </div>
                            <div class="author-card__content">
                                <p class="author-card__role">
                                    Author
                                </p>
                                <p class="author-card__name">
                                    François Dupont
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:mx-64">
                        <p class="text-blog text-blog-lettrine text-justify mt-16 lg:px-24 mx-8">Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Feugiat nibh sed pulvinar proin gravida hendrerit. Luctus
                            accumsan tortor posuere ac ut consequat semper viverra. Orci nulla pellentesque dignissim enim sit.
                            Lorem sed risus ultricies tristique nulla. Magna fermentum iaculis eu non diam phasellus vestibulum.
                            Dolor sed viverra ipsum nunc aliquet bibendum enim. Risus commodo viverra maecenas accumsan
                            lacus vel facilisis. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien.
                            Cursus euismod quis viverra nibh cras pulvinar. Molestie nunc non blandit massa enim nec dui nunc.
                            Pellentesque massa placerat duis ultricies lacus sed. Euismod in pellentesque massa placerat duis.
                            Egestas quis ipsum suspendisse ultrices. Mattis pellentesque id nibh tortor id aliquet lectus proin.
                            Porttitor rhoncus dolor purus non. Enim nec dui nunc mattis enim ut. Libero id faucibus nisl tincidunt.
                        </p>
                        <p class="text-blog text-justify my-32 lg:px-24 mx-8">
                            Condimentum id venenatis a condimentum vitae sapien pellentesque. Donec enim diam vulputate ut
                            pharetra sit. Amet cursus sit amet dictum sit amet justo donec. Quisque id diam vel quam. Cursus
                            mattis molestie a iaculis at erat pellentesque adipiscing. Facilisis leo vel fringilla est ullamcorper eget
                            nulla facilisi etiam. Imperdiet nulla malesuada pellentesque elit. Pretium aenean pharetra magna ac
                            placerat vestibulum. Scelerisque viverra mauris in aliquam. Mauris rhoncus aenean vel elit
                            scelerisque mauris pellentesque pulvinar pellentesque.
                        </p>
                        <img class="img-responsive" src="{{ asset('images/jpg/plant_bottle.jpg') }}"alt="bottle"/>
                        <p class="text-blog text-justify mt-32 lg:px-24 mx-8">Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Feugiat nibh sed pulvinar proin gravida hendrerit. Luctus
                            accumsan tortor posuere ac ut consequat semper viverra. Orci nulla pellentesque dignissim enim sit.
                            Lorem sed risus ultricies tristique nulla. Magna fermentum iaculis eu non diam phasellus vestibulum.
                            Dolor sed viverra ipsum nunc aliquet bibendum enim. Risus commodo viverra maecenas accumsan
                            lacus vel facilisis. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien.
                            Cursus euismod quis viverra nibh cras pulvinar. Molestie nunc non blandit massa enim nec dui nunc.
                            Pellentesque massa placerat duis ultricies lacus sed. Euismod in pellentesque massa placerat duis.
                            Egestas quis ipsum suspendisse ultrices. Mattis pellentesque id nibh tortor id aliquet lectus proin.
                            Porttitor rhoncus dolor purus non. Enim nec dui nunc mattis enim ut. Libero id faucibus nisl tincidunt.
                        </p>
                        <p class="text-blog text-justify my-24 lg:px-24 mx-8">
                            Condimentum id venenatis a condimentum vitae sapien pellentesque. Donec enim diam vulputate ut
                            pharetra sit. Amet cursus sit amet dictum sit amet justo donec. Quisque id diam vel quam. Cursus
                            mattis molestie a iaculis at erat pellentesque adipiscing. Facilisis leo vel fringilla est ullamcorper eget
                            nulla facilisi etiam. Imperdiet nulla malesuada pellentesque elit. Pretium aenean pharetra magna ac
                            placerat vestibulum. Scelerisque viverra mauris in aliquam. Mauris rhoncus aenean vel elit
                            scelerisque mauris pellentesque pulvinar pellentesque.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="title-separator title-separator--secondary mb-10 lg:my-20">
                        <h1 class="text-center">Articles en relation</h1>
                    </div>
                        <div class="flex flex-col lg:flex-row">
                            {% for relation in relationsBlog %}
                            <div class="lg:flex flex-col lg:w-1/3 my-16 mx-8">
                                <img class="img-cover" src="{{ asset('images/png/knit.png') }}" alt="Lighting"/>
                                <div class="flex flex-col justify-between pt-8">
                                    <h2 class="text-4xl py-2 text-black-bold">{{ relation.title }}</h2>
                                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="flex link-blue-arrow self-end pt-8" href="{{ path('blog_show', {'id': relation.id}) }}">Voir plus</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
