{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="flex flex-col items-center w-full">
    <div class="relative">
        <img class="img-responsive" src="{{ asset('images/jpg/forest.jpg') }}" alt="Forest"/>
        <div class="contact__title absolute flex flex-col items-center">
            <h1 class="title-contact text-white">Contact</h1>
            <p class="title-article hidden md:flex">Discutons ensemble</p>
        </div>
    </div>
    <div class="lg:relative top-150 flex xl:flex-row flex-col items-center w-11/12 lg:px-24 lg:py-48 py-12 my-12" style="background-color: white;"> <!-- position absolute superpose sur l'image -->
        <div class="flex flex-col justify-center xl:w-3/4">
            <div class="flex flex-col px-8 lg:w-2/3">
                <h1 class="text-title">Contactez-nous</h1>
                <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="flex lg:flex-row flex-col justify-around items-center lg:items-start my-24">
                <div class="flex flex-col justify-between items-center lg:items-start h-full w-full">
                    <div class="my-6">
                        <div class="flex items-center mb-4">
                            <i class="fa fa-map-marker-alt fa-3x mr-4 blue"></i>
                            <h3 class="text-contact-main">Adresse</h3>
                        </div>
                        <p class="text-contact-sub">19 rue de la France<br/>69002<br/>Lyon France</p>
                    </div>
                    <div class="my-6">
                        <div class="flex items-center mb-4">
                            <i class="fa fa-envelope fa-3x mr-4 blue"></i>
                            <h3 class="text-contact-main">Notre adresse mail</h3>
                        </div>
                        <p class="text-contact-sub">adressemail@adressemail.com</p>
                    </div>
                </div>
                <div class="flex lg:flex-col flex-col-reverse justify-between items-center lg:items-start w-full">
                    <div class="my-6 px-8 lg:px-0 w-full md:w-1/2 lg:w-full">
                        <div class="flex items-center mb-4">
                            <i class="fa fa-clock fa-3x mr-4 blue"></i>
                            <h3 class="text-contact-main">Horaires d'ouverture</h3>
                        </div>
                        <div>
                            <div class="flex justify-between">
                                <p class="text-contact-sub">Lundi</p>
                                <p class="text-contact-sub">14h - 18h</p>
                            </div>
                            <div class="flex justify-between">
                                <p class="text-contact-sub">Mardi - Vendredi</p>
                                <p class="text-contact-sub">8h30 - 12h / 14h - 18h</p>
                            </div>
                            <div class="flex justify-between">
                                <p class="text-contact-sub">Samedi</p>
                                <p class="text-contact-sub">8h30 - 12h / 14h - 22h</p>
                            </div>
                            <div class="flex justify-between">
                                <p class="text-contact-sub">Dimanche</p>
                                <p class="text-contact-sub">Magasin Fermé</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-6">
                        <div class="flex items-center mb-4">
                            <i class="fa fa-phone fa-3x mr-4 blue"></i>
                            <h3 class="text-contact-main">Notre téléphone</h3>
                        </div>
                        <p class="text-contact-sub">02-02-02-02-02</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="lg:flex flex-col lg:items-center shadow-xl lg:w-3/4 p-12 mx-8">
                <div class="lg:flex flex-col lg:items-center text-center pb-12">
                    <h1 class="text-title py-4">Écrivez-nous</h1>
                    <p class="text-paragraphe">Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
                <div class="flex flex-col w-11/12">
                    <input type="text" class="input-border-bottom text-2xl p-4 my-4" placeholder="Votre Nom"/>
                    <input type="email" class="input-border-bottom text-2xl p-4 my-4" placeholder="Votre Mail"/>
                    <input type="text" class="input-border-bottom text-2xl p-4 my-4" placeholder="Votre Message"/>
                </div>
                <div class="text-center pt-12">
                    <button class="btn-primary">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}