<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/8a2e09f34e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/bootstrap-grid.css">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/simple-sidebar.css">
        <link rel="stylesheet" href="/css/custom.css">
      {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img id="logo" class="navbar-brand" src="/img/logo.png" alt="eco service"/>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item active">
            <h1>Administration</h1>
          </li>
        </ul>
      </div>
    </nav>
  <div class="container-fluid pl-0">
    <div class="row">
      <div class="col-2">
        <div class="list-group" id="menu-admin" role="tablist">
          <a class="list-group-item list-group-item-action" href="{{ path('home_home_edit') }}">Accueil</a>
          <a class="list-group-item list-group-item-action" href="{{ path('article_admin_index') }}">Catalogue</a>
          <a class="list-group-item list-group-item-action" href="{{ path('article_firstpage') }}">article du moment</a>
          <a class="list-group-item list-group-item-action" href="{{ path('service_admin_index') }}">Services</a>
          <a class="list-group-item list-group-item-action" href="{{ path('blog_admin_index') }}">Blog</a>
          <a class="list-group-item list-group-item-action" href="{{ path('admin_contact_edit') }}">Contact</a>
          <a class="list-group-item list-group-item-action" href="{{ path('admin_commande') }}">Commande reçues</a>
          <a class="list-group-item list-group-item-action" href="{{ path('service_admin_list') }}">Demandes contact</a>
          <a class="list-group-item list-group-item-action" href="{{ path('admin_admin') }}">(Super administration)</a>
          <a class="list-group-item list-group-item-action" href="{{ path('admin_customer') }}">(Liste des clients inscrits)</a>
          <a class="list-group-item list-group-item-action" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
      </div>

      <!-- Page Content -->
      <div class="col-10">
        <div class="tab-content mt-2 mb-6">
          <div class="tab-pane active">
            {% block body %}

            {% endblock %}
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
     
      {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
      {% endblock %}
    </div>
  </body>
</html>