<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}StyleGuide{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
      {% endblock %}
    </head>
    <body>
        {% include 'page/header.html.twig' %}
        {% block body %}{% endblock %}
        <div id="modal-inscription" class="modal hidden fixed z-50 py-40 left-0 top-0 w-full h-full overflow-auto">

            <div class="modal__content relative m-auto p-0 w-4/5">
                <div class="modal__header pt-16 bg-white text-center">
                    <span class="modal__close absolute m-5 mx-12 top-0 right-0 text-6xl font-bold
                    hover:text-black focus:text-black hover:no-underline focus:no-underline cursor-pointer" onclick="document.getElementById('modal-inscription').style.display = 'none';">&times;</span>
                    <img class="h-48 w-48 inline-block" src="{{ asset('images/png/logo.png') }}">
                </div>
                <div class="modal__body p-4">
                    <table class="w-full">
                        <tr class="w-full">
                            <td>
                                <div class="flex">
                                    <label class="form__radio">
                                        <div class="flex items-center">
                                            <input type="radio" name="genre" class="hidden"/>
                                            <span class="form__radio-label"></span><p class="text-paragraphe">Homme</p>
                                        </div>
                                    </label>
                                    <label class="form__radio">
                                        <div class="flex items-center">
                                            <input type="radio" name="genre" class="hidden"/>
                                            <span class="form__radio-label"></span><p class="text-paragraphe">Femme</p>
                                        </div>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr class="w-full">
                            <td class="w-2/4">
                                <input type="text" name="nom" class="form__input" placeholder="Nom">
                            </td>
                            <td class="w-2/4">
                                <input type="text" name="Adresse" class="form__input" placeholder="Adresse">
                            </td>
                        </tr>
                        <tr class="w-full">
                            <td class="w-2/4">
                                <input type="text" name="prenom" class="form__input" placeholder="Prénom">
                            </td>
                            <td class="w-2/4">
                                <input type="text" name="code-postal" class="form__input" placeholder="Code postal">
                            </td>
                        </tr>
                        <tr class="w-full">
                            <td class="w-2/4">
                                <input type="email" name="mail" class="form__input" placeholder="Adresse mail">
                            </td>
                            <td class="w-2/4">
                                <input type="text" name="ville" class="form__input" placeholder="Ville">
                            </td>
                        </tr>
                        <tr class="w-full">
                            <td class="w-2/4">
                                <input type="password" name="mdp" class="form__input" placeholder="Mot de passe">
                            </td>
                            <td class="w-2/4">
                                <input type="text" name="pays" class="form__input" placeholder="Pays">
                            </td>
                        </tr>
                        <tr class="w-full">
                            <td class="w-2/4">
                                <input type="password" name="confMDP" class="form__input"
                                       placeholder="Confirmer mot de passe">
                            </td>
                            <td class="w-2/4">
                            </td>
                        </tr>
                        <tr class="w-full">
                            <td class="w-2/4">
                                <input type="date" name="nom" class="form__input" placeholder="Date de naissance">
                            </td>
                            <td class="w-2/4">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal__footer pb-16 pt-10 bg-white text-center">
                    <input type="submit" class="form__submit inline-block" value="S'inscrire">
                </div>
            </div>
        </div>



        <div id="modal-connexion" class="modal hidden fixed z-50 py-40 left-0 top-0 w-full h-full overflow-auto">

            <div class="modal__content relative bg-white m-auto p-0 w-4/5">
                <div class="modal__header pt-16 bg-white text-center">
                    <span class="modal__close absolute top-0 right-0 m-5 mx-12 text-6xl font-bold hover:text-black focus:text-black hover:no-underline focus:no-underline cursor-pointer" onclick="document.getElementById('modal-connexion').style.display = 'none';">&times;</span>
                    <img class="h-64 w-64 inline-block" src="{{ asset('images/png/logo.png')}}">
                </div>
                <div class="modal__body p-4">
                    <table class="w-full">

                        <tr class="w-full text-center">
                            <td class="w-2/4 inline-block">
                                <input type="email" name="mail" class="form__input" placeholder="Adresse mail">
                            </td>
                        </tr>
                        <tr class="w-full text-center">
                            <td class="w-2/4 inline-block">
                                <input type="password" name="mdp" class="form__input" placeholder="Mot de passe">
                            </td>
                        </tr>
                        <tr class="w-full text-center">
                            <td class="w-2/4 inline-block">
                                <a class="link-softBlue-italic hover:underline cursor-pointer" modal="modal-mdp" onclick="document
                                .getElementById('modal-connexion').style.display = 'none'">Mot de passe oublié ?</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal__footer pb-16 pt-10 bg-white text-center">
                    <input type="submit" class="form__submit inline-block" value="Connexion">
                </div>
            </div>
        </div>

        <div id="modal-mdp" class="modal hidden fixed z-50 py-40 left-0 top-0 w-full h-full overflow-auto">

            <div class="modal__content relative bg-white m-auto p-0 w-4/5">
                <div class="modal__header pt-16 bg-white text-center">
                    <span class="modal__close absolute m-5 mx-12 top-0 right-0 text-6xl font-bold
                    hover:text-black focus:text-black hover:no-underline focus:no-underline cursor-pointer" onclick="document.getElementById('modal-mdp').style.display = 'none';">&times;</span>
                    <img class="h-64 w-64 inline-block" src="{{ asset('images/png/logo.png')}}">
                </div>
                <div class="modal__body p-4">
                    <table class="w-full">

                        <tr class="w-full text-center">
                            <td class="w-2/4 inline-block">
                                <input type="email" name="mail" class="form__input" placeholder="Adresse mail">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal__footer pb-16 pt-10 bg-white text-center">
                    <input type="submit" class="form__submit inline-block" value="Récupération">
                </div>
            </div>
        </div>

        {% include 'page/footer.html.twig' %}
        {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
        {% endblock %}


    </body>
</html>
