{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="absolute top-0 w-full h-full z-m10">
        <svg class="invisible xl:visible overflow-visible z-0" viewBox="0 0 1200 500">
            <linearGradient id="linearCircle1" x1="0" y1="1" x2="1" y2="0">
                <stop offset="5%" stop-color="#5DFDCB"></stop>
                <stop offset="525%" stop-color="#C3F73A"></stop>
            </linearGradient>
            <circle cx = "960" cy = "150" r = "300" fill = "url(#linearCircle1)" stroke = "none"/>
        </svg>
        <svg class="invisible xl:visible overflow-visible z-0" viewBox="0 0 1200 1200">
            <linearGradient id="linearCircle2" x1="0" y1="1" x2="1" y2="0">
                <stop offset="5%" stop-color="#C3F73A"></stop>
                <stop offset="525%" stop-color="#5DFDCB"></stop>
            </linearGradient>
            <circle cx = "200" cy = "650" r = "300" fill = "url(#linearCircle2)" stroke = "none"/>
        </svg>

    </div>
    <div class="container">
        <div class="flex justify-between items-center my-24">
            <div class="flex flex-col w-full xl:w-3/5 mx-12 xl:mx-0">
                <h1 class="title-mainpart mb-8">Éco Service</h1>
                <div class="text-justify w-full xl:w-5/6 z-10">
                    <p class="text-3xl my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="text-3xl my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <img class="img-container hidden xl:flex" src="{{ asset('images/jpg/tree.jpg')}}" rel="Tree"/>
        </div>
        <div class="flex flex-col my-32 items-end">
            <h2 class="title-subpart text-right z-10 mx-4 xl:mx-0">Posts Récents</h2>
            {% for blog in blogs %}
            <div class="lg:flex flex-col container--lg z-10">
                {% if loop.index is odd %}
                    <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                        <div class="flex flex-col p-16 justify-between w-8/12">
                            <h1 class="text-6xl">{{ blog.title }}</h1>
                            <p class="text-paragraphe text-justify">{{ blog.description }}</p>
                            <div class="flex justify-end">
                                <a href="{{ path('blog_show', {'id': blog.id}) }}"
                                   class="btn-green-gradient-outline flex items-center justify-center cursor-pointer">
                                    <span
                                            class="text-green-gradient">Lire l'article
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="w-4/12">
                            <img class="img-cover" src="{{ asset('images/png/bonsai.png') }}" alt="Bonsaï"/>
                        </div>
                    </div>
                {% endif %}
                {% if not loop.index is odd %}
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <div class="w-4/12">
                    <img class="img-cover" src="{{ asset('images/png/bonsai.png') }}"
                         alt="Bonsaï"/>
                    </div>
                    <div class="flex flex-col p-16 justify-between w-8/12">
                        <h1 class="text-6xl">{{ blog.title }}</h1>
                        <p class="text-paragraphe text-justify">{{ blog.description }}</p>
                        <div class="flex justify-end">
                            <a href="{{ path('blog_show', {'id': blog.id}) }}"
                               class="btn-green-gradient-outline flex items-center justify-center cursor-pointer"><span
                                        class="text-green-gradient">Lire
                      l'article</span></a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col my-24">
            <h2 class="title-subpart z-10 mx-4 xl:mx-0">Derniers Articles</h2>
            <div class="py-16 px-8 xl:px-0 lg:flex lg:justify-center z-10">
                <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
                    <a href="{{ path('article_show', {'id': article1.id }) }}">
                        <div class="thumb--cart__image">
                            <img src="{{ asset('images/jpg/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                            <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                                <div class="flex flex-col justify-between">
                                    <p class="thumb--cart__title">{{ article1.name }}</p>
                                    <p class="thumb--cart__price">{{ article1.price }} €</p>
                                </div>
                                <div class="thumb--cart__icon">
                                    <img src="{{ asset('images/icons/icon-cart.svg') }}" alt="Icon Cart">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
                    <a href="{{ path('article_show', {'id': article2.id }) }}">
                    <div class="thumb--cart__image">
                        <img src="{{ asset('images/jpg/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                        <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                            <div class="flex flex-col justify-between">
                                <p class="thumb--cart__title">{{ article2.name }}</p>
                                <p class="thumb--cart__price">{{ article2.price }} €</p>
                            </div>
                            <div class="thumb--cart__icon">
                                <img src="{{ asset('images/icons/cart.png') }}" alt="Icon Cart">
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
                    <a href="{{ path('article_show', {'id': article3.id }) }}">
                    <div class="thumb--cart__image">
                        <img src="{{ asset('images/jpg/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                        <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                            <div class="flex flex-col justify-between">
                                <p class="thumb--cart__title">{{ article3.name }}</p>
                                <p class="thumb--cart__price">{{ article3.price }} €</p>
                            </div>
                            <div class="thumb--cart__icon">
                                <img src="{{ asset('images/icons/cart.png') }}"alt="Icon Cart">
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="py-16 px-8 xl:px-0 lg:flex lg:justify-center z-10">
                <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
                    <a href="{{ path('article_show', {'id': article4.id }) }}">
                    <div class="thumb--cart__image">
                        <img src="{{ asset('images/jpg/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                        <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                            <div class="flex flex-col justify-between">
                                <p class="thumb--cart__title">{{ article4.name }}</p>
                                <p class="thumb--cart__price">{{ article4.price }} €</p>
                            </div>
                            <div class="thumb--cart__icon">
                                <img src="{{ asset('images/icons/cart.png') }}" alt="Icon Cart">
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
                    <a href="{{ path('article_show', {'id': article5.id }) }}">
                    <div class="thumb--cart__image">
                        <img src="{{ asset('images/jpg/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                        <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                            <div class="flex flex-col justify-between">
                                <p class="thumb--cart__title">{{ article5.name }}</p>
                                <p class="thumb--cart__price">{{ article5.price }} €</p>
                            </div>
                            <div class="thumb--cart__icon">
                                <img src="{{ asset('images/icons/cart.png')
                                }}" alt="Icon Cart">
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
                    <a href="{{ path('article_show', {'id': article1.id }) }}">
                    <div class="thumb--cart__image">
                        <img src="{{ asset('images/jpg/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                        <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                            <div class="flex flex-col justify-between">
                                <p class="thumb--cart__title">{{ article6.name }}</p>
                                <p class="thumb--cart__price">{{ article6.price }} €</p>
                            </div>
                            <div class="thumb--cart__icon">
                                <img src="{{ asset('images/icons/cart.png') }}" alt="Icon Cart">
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>    </div>
    </div>


{% endblock %}
