{% extends 'base.html.twig' %}

{% block body %}

  <div class="pt-40 lg:pt-0">
    <div class="container">
      <div class="my-20">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Titre :before</h1>
        <div class="title-separator title-separator--secondary mb-10 lg:my-20">
          <h1 class="text-center">Nom Article</h1>
        </div>
      </div>
      <div class="my-20">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Pagination design</h1>
        <nav class="pagination my-12">
          <ul class="flex items-center justify-center">
            <li><i class="fas fa-chevron-left"></i></li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li><i class="fas fa-chevron-right"></i></li>
          </ul>
        </nav>
      </div>
      <div class="my-20">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Article preview (card)</h1>
        <br>
        <br>
        <div class="px-8 xl:px-0 lg:flex lg:justify-center">
          <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
            <div class="thumb--cart__image">
              <img src="../images/inte-colinmsd/bowl-bonsai.jpg" alt="Bonsai in a bowl" class="img-cover">
              <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                <div class="flex flex-col justify-between">
                  <p class="thumb--cart__title">Article</p>
                  <p class="thumb--cart__price">199.99 €</p>
                </div>
                <div class="thumb--cart__icon">
                  <img src="../images/icons/icon-cart.svg" alt="Icon Cart">
                </div>
              </div>
            </div>
          </div>
          <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
            <div class="thumb--cart__image">
              <img src="../images/inte-colinmsd/bowl-bonsai.jpg" alt="Bonsai in a bowl" class="img-cover">
              <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                <div class="flex flex-col justify-between">
                  <p class="thumb--cart__title">Article</p>
                  <p class="thumb--cart__price">199.99 €</p>
                </div>
                <div class="thumb--cart__icon">
                  <img src="../images/icons/icon-cart.svg" alt="Icon Cart">
                </div>
              </div>
            </div>
          </div>
          <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
            <div class="thumb--cart__image">
              <img src="../images/inte-colinmsd/bowl-bonsai.jpg" alt="Bonsai in a bowl" class="img-cover">
              <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                <div class="flex flex-col justify-between">
                  <p class="thumb--cart__title">Article</p>
                  <p class="thumb--cart__price">199.99 €</p>
                </div>
                <div class="thumb--cart__icon">
                  <img src="../images/icons/icon-cart.svg" alt="Icon Cart">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-20">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Author card</h1>
        <div class="flex justify-center">
          <div class="author-card">
            <div class="author-card__image p-12">
              <img src="../images/inte-colinmsd/lucas.jpg" alt="Lucas" class="img-cover">
            </div>
            <div class="author-card__content">
              <p class="author-card__role">
                Author
              </p>
              <p class="author-card__name">
                François Dupont
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="my-20">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">LIgne article panier</h1>
        <div class="cart-item flex items-center justify-between lg:justify-around px-8 my-16 lg:px-0">
          <div class="cart-item__image">
            <img src="../images/inte-colinmsd/toothbrush.jpg" alt="toothbrush" class="img-responsive">
          </div>
          <div class="cart-item__content hidden lg:block">
            <p class="cart-item__content--title">Brosse à dent</p>
            <p class="cart-item__content--category">TEST1</p>
          </div>
          <div class="cart-item__amount">
            <div class="input--number">
              <input class="input--number__field" type="number" id="number1" min="0" max="9" step="1" value="1">
            </div>
          </div>
          <div class="cart-item__color hidden lg:flex lg:items-center">
            <img src="../images/icons/wood-texture.png" alt="Icon Cart" class="mr-6">
            <p class="">Wood</p>
          </div>
          <div class="cart-item__size hidden lg:block"> UNI
          </div>
          <div class="cart-item__price"> 19.90€
          </div>
          <div class="cart-item__cancel cursor-pointer">
            <img src="../images/icons/times.svg" alt="Texture">
          </div>
        </div>
        <div class="cart-item flex items-center justify-between lg:justify-around px-8 my-16 lg:px-0">
          <div class="cart-item__image">
            <img src="../images/inte-colinmsd/toothbrush.jpg" alt="toothbrush" class="img-responsive">
          </div>
          <div class="cart-item__content hidden lg:block">
            <p class="cart-item__content--title">Brosse à dent</p>
            <p class="cart-item__content--category">TEST2</p>
          </div>
          <div class="cart-item__amount">
            <div class="input--number">
              <input class="input--number__field" type="number" id="number1" min="0" max="9" step="1" value="1">
            </div>
          </div>
          <div class="cart-item__color hidden lg:flex lg:items-center">
            <img src="../images/icons/wood-texture.png" alt="Icon Cart" class="mr-6">
            <p class="">Wood</p>
          </div>
          <div class="cart-item__size hidden lg:block"> UNI
          </div>
          <div class="cart-item__price"> 19.90€
          </div>
          <div class="cart-item__cancel cursor-pointer">
            <img src="../images/icons/times.svg" alt="Texture">
          </div>
        </div>
        <div class="cart-item flex items-center justify-between lg:justify-around px-8 my-16 lg:px-0">
          <div class="cart-item__image">
            <img src="../images/inte-colinmsd/toothbrush.jpg" alt="toothbrush" class="img-responsive">
          </div>
          <div class="cart-item__content hidden lg:block">
            <p class="cart-item__content--title">Brosse à dent</p>
            <p class="cart-item__content--category">TEST3</p>
          </div>
          <div class="cart-item__amount">
            <div class="input--number">
              <input class="input--number__field" type="number" id="number1" min="0" max="9" step="1" value="1">
            </div>
          </div>
          <div class="cart-item__color hidden lg:flex lg:items-center">
            <img src="../images/icons/wood-texture.png" alt="Icon Cart" class="mr-6">
            <p class="">Wood</p>
          </div>
          <div class="cart-item__size hidden lg:block"> UNI
          </div>
          <div class="cart-item__price"> 19.90€
          </div>
          <div class="cart-item__cancel cursor-pointer">
            <img src="../images/icons/times.svg" alt="Texture">
          </div>
        </div>
        <div class="cart-item flex items-center justify-between lg:justify-around px-8 my-16 lg:px-0">
          <div class="cart-item__image">
            <img src="../images/inte-colinmsd/toothbrush.jpg" alt="toothbrush" class="img-responsive">
          </div>
          <div class="cart-item__content hidden lg:block">
            <p class="cart-item__content--title">Brosse à dent</p>
            <p class="cart-item__content--category">Hygiène</p>
          </div>
          <div class="cart-item__amount">
            <div class="input--number">
              <input class="input--number__field" type="number" id="number1" min="0" max="9" step="1" value="1">
            </div>
          </div>
          <div class="cart-item__color hidden lg:flex lg:items-center">
            <img src="../images/icons/wood-texture.png" alt="Icon Cart" class="mr-6">
            <p class="">Wood</p>
          </div>
          <div class="cart-item__size hidden lg:block"> UNI
          </div>
          <div class="cart-item__price"> 19.90€
          </div>
          <div class="cart-item__cancel cursor-pointer">
            <img src="../images/icons/times.svg" alt="Texture">
          </div>
        </div>


      </div>
      <div class="my-20">

        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Recap commande</h1>
        <div class="px-8 lg:px-0 lg:flex lg:justify-between">
          <div class="cart-item--sm flex justify-between items-center my-12 w-full lg:w-1/2">
            <div class="flex items-center justify-around">
              <div class="cart-item__image mr-8 lg:mr-16">
                <img src="../images/inte-colinmsd/toothbrush.jpg" alt="toothbrush">
              </div>
              <div class="cart-item__content">
                <p class="cart-item__content--title">Brosse à dent</p>
                <p class="cart-item__content--category">Hygiène</p>
              </div>
            </div>
            <div class="cart-item__price"> 19.90€
            </div>
          </div>
          <div class="cart-item--sm flex justify-between items-center my-12 w-full lg:w-1/2">
            <div class="flex items-center justify-around">
              <div class="cart-item__image mr-8 lg:mr-16">
                <img src="../images/inte-colinmsd/toothbrush.jpg" alt="toothbrush">
              </div>
              <div class="cart-item__content">
                <p class="cart-item__content--title">Brosse à dent</p>
                <p class="cart-item__content--category">Hygiène</p>
              </div>
            </div>
            <div class="cart-item__price"> 19.90€
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="my-20">
      <h1 class="text-6xl text-center tracking-wider uppercase pt-6">SearchBar</h1>
      <div class="searchbar flex w-full items-center my-8">
        <div class="filter flex justify-center items-center">
          <img src="../images/icons/funnel.png" alt="">
        </div>
        <div class="dropdown relative flex items-center justify-center">
          <select class="outline-none appearance-none uppercase font-medium">
            <option disabled selected>Collections</option>
            <option>New Mexico</option>
            <option>Missouri</option>
            <option>Texas</option>
          </select>
        </div>
        <div class="dropdown relative flex items-center justify-center">
          <select class="outline-none appearance-none uppercase font-medium">
            <option disabled selected>Catégorie</option>
            <option>New Mexico</option>
            <option>Missouri</option>
            <option>Texas</option>
          </select>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="my-20">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Slider</h1>
        <div class="slideshow relative mx-auto px-8 xl:px-0">
          <div class="slideshow--content flex flex-no-wrap">
            <div class="slideshow--content--item flex-none h-full w-full">
              <img src="../images/jpg/toothbrush.jpg" alt="toothbrush" class="img-cover">
            </div>
            <div class="slideshow--content--item flex-none h-full w-full">
              <img src="../images/jpg/toothbrush.jpg" alt="toothbrush" class="img-cover">
            </div>
            <div class="slideshow--content--item flex-none h-full w-full">
              <img src="../images/jpg/toothbrush.jpg" alt="toothbrush" class="img-cover">
            </div>
            <div class="slideshow--content--item flex-none h-full w-full">
              <img src="../images/jpg/toothbrush.jpg" alt="toothbrush" class="img-cover">
            </div>
            <div class="slideshow--content--item flex-none h-full w-full">
              <img src="../images/jpg/toothbrush.jpg" alt="toothbrush" class="img-cover">
            </div>
          </div>
          <div class="slideshow--button__prev cursor-pointer" id="slideshow-prev">
            <img src="../images/icons/chevron-left.svg" alt="Chevron">
          </div>
          <div class="slideshow--button__next cursor-pointer" id="slideshow-next">
            <img src="../images/icons/chevron-right.svg" alt="Chevron">
          </div>
        </div>
      </div>

    <div class="flex flex-col">
      <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Titres et paragraphes</h1>
      <div class="lg:flex flex-col lg:justify-center lg:items-center text-center py-10">
        <h1 class="title-mainpart">Titre 1</h1>
        <h2 class="title-subpart">Titre 2</h2>
        <h2 class="title-subpart">Titre 2.1</h2>
        <h3 class="title-article">Titre 3</h3>
        <h4 class="title-blog">Titre 4</h4>
        <h1 class="title-blog-details">Titre 5</h1>
        <p class="text-paragraphe"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>

    <div class="flex flex-col">
      <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Input et radio bouton</h1>
      <div class="lg:flex flex-col lg:justify-center lg:items-center text-center py-10">
        <table class="w-full">
          <tr class="w-full">
            <td class="text-center">
              <div class="form__radio-content">
                <label class="form__radio">
                  <input type="radio" name="genre" class="hidden" checked />
                  <span class="form__radio-label"></span>Homme
                </label>
                <label class="form__radio">
                  <input type="radio" name="genre" class="hidden"/>
                  <span class="form__radio-label"></span>Femme
                </label>
              </div>
            </td>
          </tr>
          <tr class="w-full">
            <td class="w-1/2">
              <input type="text" name="nom" class="form__input" placeholder="Nom">
            </td>
            <td class="w-1/2">
              <input type="text" name="Adresse" class="form__input" placeholder="Adresse">
            </td>
          </tr>
        </table>
      </div>
    </div>


      <div class="flex flex-col">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Boutons</h1>
        <div class="lg:flex lg:justify-center lg:items-center text-center py-10">
          <div class="p-4">
            <button class="btn-blue-gradient"><span class="text-blue-gradient">Commander</span></button>
          </div>
          <div class="p-4">
            <button class="btn-header-outline">Se connecter</button>
          </div>
          <div class="p-4">
            <button class="btn-category">Hygiène</button>
          </div>
          <div class="p-4">
            <button  class="btn-green-gradient-outline"><span class="text-green-gradient">Lire l'article</span></button>
          </div>
          <div class="p-4">
            <button class="btn-grey">Voir détail</button>
          </div>
          <div class="p-4">
            <button class="btn-green-gradient">Connexion</button>
          </div>
          <div class="p-4">
            <button class="btn-primary">Envoyer</button>
          </div>
        </div>
      </div>

      <!-- Partie Liens -->
      <div class="flex flex-col">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Liens</h1>
        <div class="flex justify-center items-center py-10">
          <div class="p-6">
            <a class="link-blue hover:text-blue-300" href="#">Lien</a>
          </div>
          <div class="p-6">
            <a class="flex link-blue-arrow" href="#">Voir plus</a>
          </div>
          <div class="p-6">
            <a class="link-blue-gradient" href="#"><i class="fa fa-chevron-left mr-2"></i>Continuer à naviguer</a>
          </div>
          <div class="p-6">
            <a class="link-softBlue-italic hover:underline" href="#">Mot de passe oublié ?</a>
          </div>
        </div>
      </div>

      <!-- Partie Popup Contact -->
      <div class="flex flex-col">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Popup contact</h1>
        <div class="lg:flex lg:justify-center py-10">
          <div class="lg:flex flex-col lg:items-center shadow-xl lg:w-1/3 p-12 mx-8">
            <div class="lg:flex flex-col lg:items-center text-center pb-12">
              <h1 class="text-title py-4">Écrivez-nous</h1>
              <p class="text-paragraphe">Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="flex flex-col w-11/12">
              <input type="text" class="input-border-bottom text-2xl p-4 my-4" placeholder="Votre Nom"/>
              <input type="email" class="input-border-bottom text-2xl p-4 my-4" placeholder="Votre Mail"/>
              <input type="text" class="input-border-bottom text-2xl p-4 my-4" placeholder="Votre Message"/>
            </div>
            <div class="text-center pt-12">
              <button class="btn-primary">Envoyer</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Partie Checkbox Image -->
      <div class="flex flex-col">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Checkbox Images</h1>
        <div class="flex justify-center py-10">
          <div class="flex flex-col">
            <p class="text-3xl tracking-wider uppercase pb-10">Couleurs</p>
            <div class="flex">
              <button class="btn-checkbox-img mr-8"><img class="img-rounded" src="../images/inte-athe/black-wood.jpg" alt="black-wood"/></button>
              <button class="btn-checkbox-img mx-8"><img class="img-rounded" src="../images/inte-athe/wood.jpg" alt="wood"/></button>
              <button class="btn-checkbox-img mx-8"><img class="img-rounded" src="../images/inte-athe/white-wood.jpg" alt="white-wood"/></button>
              <button class="btn-checkbox-img ml-8"><img class="img-rounded" src="../images/inte-athe/red-wood.jpg" alt="red-wood"/></button>
            </div>
          </div>
        </div>
      </div>


    <div class="flex flex-col">
      <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Mini card</h1>
      <div class="flex flex-col">
        <div class="mini-card flex flex-col lg:w-3/5 w-full p-12 my-8 mx-4">
          <div class="flex flex-col">
            <h3 class="title-article my-4">Commande #X</h3>
            <div class="flex flex-col">
              <p class="text-description">Date de commande : 21/12/2019</p>
              <p class="text-description">Montant : 4000 €</p>
              <p class="text-description">Commentaire</p>
            </div>
          </div>
          <button class="btn-grey self-end mt-12">Voir détail</button>
        </div>
        <div class="mini-card flex flex-col self-end lg:w-3/5 w-full p-12 my-8 mx-4">
          <div class="flex flex-col">
            <h3 class="title-article my-4">Commande #X</h3>
            <div class="flex flex-col">
              <p class="text-description">Date de commande : 21/12/2019</p>
              <p class="text-description">Montant : 4000 €</p>
              <p class="text-description">Commentaire</p>
            </div>
          </div>
          <button class="btn-grey self-end mt-12">Voir détail</button>
        </div>
      </div>
    </div>

      <!-- Partie Article Long -->
      <div class="flex flex-col">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Article Long</h1>
        <div class="lg:flex flex-col container--lg">
          <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
            <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
            <div class="flex flex-col p-16 justify-between">
              <h1 class="text-6xl">Article Title</h1>
              <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
            </div>
          </div>
          <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
            <div class="flex flex-col p-16 justify-between">
              <h1 class="text-6xl">Article Title</h1>
              <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
            </div>
            <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
          </div>
        </div>
      </div>

      <!-- Partie Article Single -->
      <div class="flex flex-col">
        <h1 class="text-6xl text-center tracking-wider uppercase pt-6">Article Single</h1>
        <div class="article-single__container lg:flex flex-row justify-between container--lg">
          <div class="lg:flex flex-col lg:w-1/3 my-16 mx-8">
            <img class="img-cover" src="../images/inte-athe/bowl.png" alt="Lighting"/>
            <div class="flex flex-col justify-between pt-8">
              <h2 class="text-4xl py-2 text-black-bold">Décoration éco-responsable</h2>
              <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a class="flex link-blue-arrow self-end pt-8" href="#">Voir plus</a>
            </div>
          </div>
          <div class="lg:flex flex-col lg:w-1/3 my-16 mx-8">
            <img class="img-cover" src="../images/inte-athe/lighting.png" alt="Lighting"/>
            <div class="flex flex-col justify-between pt-8">
              <h2 class="text-4xl py-2 text-black-bold">Décoration éco-responsable</h2>
              <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a class="flex link-blue-arrow self-end pt-8" href="#">Voir plus</a>
            </div>
          </div>
          <div class="lg:flex flex-col lg:w-1/3 my-16 mx-8">
            <img class="img-cover" src="../images/inte-athe/knit.png" alt="Lighting"/>
            <div class="flex flex-col justify-between pt-8">
              <h2 class="text-4xl py-2 text-black-bold">Décoration éco-responsable</h2>
              <p class="text-paragraphe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a class="flex link-blue-arrow self-end pt-8" href="#">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Partie Header -->
<div class="flex flex-col">
  <h1 class="text-6xl text-center uppercase pt-6">Header</h1>
      <header class="header block relative lg:static lg:flex lg:justify-between lg:items-center lg:content-between">

          <div class="block lg:flex lg:items-center lg:mr-0">
            <img class="h-24 w-24 m-6" src="../images/inte-colincqn/logo.png">
            <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block" href="#services">
              <button>Nos services</button>
            </a>
            <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block" href="#catalogue">
              <button>Catalogue</button>
            </a>
            <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block" href="#apropos">
              <button>A propos</button>
            </a>
            <a class="header__navbar-button header__navbar-button--responsive-navbar m-6 hidden lg:block" href="#blog">
              <button>Blog</button>
            </a>
          </div>

          <div class="block lg:ml-0 lg:flex lg:items-center z-10">
            <a class="header__navbar-button--responsive-navbar m-2 hidden lg:block" href="">
              <button class="btn-header">Inscription</button>
            </a>
            <a class="header__navbar-button--responsive-navbar m-2 hidden lg:block" href="">
              <button class="btn-header-outline order-none">Se connecter</button>
            </a>
          </div>

          <div class="header__burgericon m-2 mr-16 block absolute top-0 right-0 lg:hidden">
            <div class="header__burgericon-container" id="header-responsive">
              <div class="header__burgericon-bar1"></div>
              <div class="header__burgericon-bar2"></div>
              <div class="header__burgericon-bar3"></div>
            </div>
          </div>
        </header>
  </div>


  <!-- Partie Footer -->
  <div class="flex flex-col">
        <h1 class="text-6xl text-center uppercase pt-6">Footer</h1>
        <div class="flex black mt-12">
          <footer class="flex flex-col items-center w-full bg-black">
            <div class="flex flex-col items-center py-12 px-32 w-full">
              <h1 class="footer__h1 text-5xl text-center">Partout en France</h1>
              <div class="footer__bottom-line w-full py-6"></div>
            </div>
            <div class="footer__center lg:flex w-full lg:justify-center lg:justify-around py-16">
              <div class="flex flex-col items-center lg:justify-center">
                <h2 class="footer__h2 text-5xl">Suivez #ecoservice</h2>
                <div class="flex pt-12">
                  <a class="footer__icon flex justify-center items-center mr-8" href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                  <a class="footer__icon flex justify-center items-center mx-8" href="#"><i class="fab fa-twitter fa-2x"></i></a>
                  <a class="footer__icon flex justify-center items-center mx-8" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                  <a class="footer__icon flex justify-center items-center ml-8" href="#"><i class="fab fa-youtube fa-2x"></i></a>
                </div>
              </div>
              <div class="footer__coordonnees flex flex-col items-center lg:items-start lg:pl-48 py-12">
                <img class="footer__logo" src="{{ asset('images/inte-athe/logo_white.png')}}" alt="logo"/>
                <h2 class="footer__h2 text-5xl">Nos coordonnées</h2>
                <div class="flex flex-col items-center lg:items-start py-6">
                  <p class="text-3xl text-white font-thin uppercase">12 rue address</p>
                  <p class="text-3xl text-white font-thin uppercase">69002 Lyon</p>
                </div>
                <div class="flex flex-col items-center lg:items-start pb-4">
                  <p class="text-3xl text-white font-thin uppercase">adressemail@email.com</p>
                  <p class="text-3xl text-white font-thin uppercase">02 02 02 02 02</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col items-center w-full">
              <div class="flex flex-col items-center py-5 px-32 w-full">
                <a class="no-underline" href="#up"><h1 class="footer__h1 text-5xl text-center">Remonter en haut<i class="fa fa-arrow-up mx-8"></i></h1></a>
                <div class="footer__bottom-line w-full py-4"></div>
              </div>
              <div class="lg:flex flex-row py-8">
                <h3 class="footer__h3 text-4xl text-center lg:px-32">Localisation des magasins</h3>
                <h3 class="footer__h3 text-4xl text-center lg:px-32">Cookies</h3>
                <h3 class="footer__h3 text-4xl text-center lg:px-32">RGPD</h3>
                <h3 class="footer__h3 text-4xl text-center lg:px-32">Termes et conditions</h3>
              </div>
            </div>
          </footer>
        </div>
      </div> 

{% endblock %}