.link-blue {
    font-family: 'Roboto';
    font-size: 1.8rem;
    font-weight: normal;
    color: #007FFF;
    text-decoration: none;
}

.link-blue-arrow {
    font-family: 'Roboto';
    font-size: 1.8rem;
    font-weight: normal;
    color: #007FFF;
    text-decoration: none;
}
.link-blue-arrow:after {
    content: " ➜";
    transition: all ease .5s;
    position:relative;
    left:5px;
    opacity:0;
}
.link-blue-arrow:hover:after {
    content: " ➜";
    transition: all ease .5s;
    left:5px;
    opacity:1;
  }

.link-blue-gradient {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: normal;
    background: linear-gradient(to left, #007FFF, #7CC6FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-softBlue-italic {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    color: #7CC6FE;
}
