.text-green-gardient {
    font-family: 'Roboto';
    font-size: 1.5rem;
    background: linear-gradient(to right, var(--limeGreen), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-blue-gardient {
    font-family: 'Roboto';
    font-size: 1.2rem;
    background: linear-gradient(to right, var(--primary), var(--softBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-black-bold {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
}

.text-title {
    font-family: 'Cormorant';
    font-weight: normal;
    font-size: 5rem;
    font-style: normal;
    color: var(--primary);
}

.text-paragraphe {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
    font-style: 500;
    color: var(--lightGrey);
}

.arrow-right {
    width: 14px;
    height: 14px;
    background-color: var(--primary);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}