.btn--header, .btn--header:hover, .btn--header:focus, .btn--header:active {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 500;
    padding: 0.3rem 3.5rem;
    border: 1px solid var(--black);
    border-width: 0.2rem;
    border-radius: 1.3rem;
    outline: none;
}

.btn--blue-gradient, .btn--blue-gradient:hover, .btn--blue-gradient:focus, .btn--blue-gradient:active {
    height: 3rem;
    width: 18rem;
    border: solid 1px transparent;
    border-radius: 1.4rem;
    background-image: linear-gradient(var(--white), var(--white)), radial-gradient(circle at top left, var(--primary), var(--softBlue));
    background-origin: border-box;
    background-clip: content-box, border-box;
    outline: none;
}

.btn--green-gradient, .btn--green-gradient:hover, .btn--green-gradient:focus, .btn--green-gradient:active {
    font-family: 'Roboto';
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1rem 4rem;
    border: none;
    background: linear-gradient(to right, var(--limeGreen), var(--secondary));
    border-width: thin;
    border-radius: 3rem;
    outline: none;
}

.btn--green-gradient-outline, .btn--green-gradient-outline:hover, .btn--green-gradient-outline:focus, .btn--green-gradient-outline:active {
    height: 4.5rem;
    width: 18rem;
    border: solid 1px transparent;
    border-radius: 3rem;
    background-image: linear-gradient(var(--white), var(--white)), radial-gradient(circle at top left, var(--limeGreen), var(--secondary));
    background-origin: border-box;
    background-clip: content-box, border-box;
    outline: none;
}

.btn--primary, .btn--primary:hover, .btn--primary:focus, .btn--primary:active {
    font-family: 'Roboto';
    font-size: 2.5rem;
    padding: 0.8rem 6rem;
    border: none;
    color: var(--white);
    background-color: var(--primary);
    outline: none;
}

.btn--category, .btn--category:hover, .btn--category:focus, .btn--category:active {
    font-family: 'Roboto';
    font-size: 2rem;
    padding: 1rem 2rem;
    color: var(--white);
    border: none;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    background-color: var(--grey);
    outline: none;
}

.btn--checkbox-img, .btn--checkbox-img:hover {
    outline: none;
}
.btn--checkbox-img:focus, .btn--checkbox-img:active {
    opacity: 0.5;
    outline: none;
}