/*///////////////////
// OBJECT FIT
///////////////////////////////////////////////////////////////////////////////*/

/* IMG COVER*/
.img-cover{
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover'
}

/* IMG CONTAIN */
.img-contain{
  height: 100%;
  width: 100%;
  object-fit: contain;
  font-family: 'object-fit: contain';
}
/* IMG RESPONSIVE */
.img-responsive{
  height: 100%;
  width: 100%;
}

.img-rounded {
  border-radius: 50%;
}