/*placer la classe form__input dans une balise input text simple*/
.form__input {
	width: 100%;
	border: 1.5px solid black;
	border-radius: 15px;
	font-size: 2em;
	padding:3px 15px;
	outline: none;
}
.form__input::placeholder {
	color: grey;
}

/*nécéssite une structure comme la suivante

<div class="form__radio-content">
	<label class="form__radio">
		<input type="radio" name="genre" class="hidden" checked />
		<span class="form__radio-label"></span>Option 1
	</label>
	<label class="form__radio">
		<input type="radio" name="genre" class="hidden"/>
		<span class="form__radio-label"></span>Option 2
	</label>
</div>
*/
.form__radio-content {
  font-size: 2em;
}
.form__radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  margin: 15px;
}
.form__radio .form__radio-label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.form__radio .form__radio-label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #000;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.form__radio:hover .form__radio-label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .form__radio-label {
  border-color: #000;
}
input[type="radio"]:checked + .form__radio-label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

/*placer la classe form__submit dans une balise input submit simple*/
.form__submit{
	font-size: 3em;
	font-style: bold;
	border-radius: 9999px;
	background-image: linear-gradient(to right,var(--softBlue),var(--secondary));
	padding: 10px 80px;
	cursor: pointer;
	outline: none;
}