.link--blue {
    font-family: 'Roboto';
    font-size: 1.8rem;
    font-weight: normal;
    color: var(--primary);
}

.link--blue-gradient {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: normal;
    background: linear-gradient(to left, var(--primary), var(--softBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link--softBlue-italic {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    color: var(--softBlue);
}