.text--green-gardient {
    font-family: 'Roboto';
    font-size: 1.5rem;
    background: linear-gradient(to right, var(--limeGreen), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text--blue-gardient {
    font-family: 'Roboto';
    font-size: 1.2rem;
    background: linear-gradient(to right, var(--primary), var(--softBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text--black-bold {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
}

.text-title {
    font-family: 'Cormorant';
    font-weight: normal;
    font-size: 5rem;
    font-style: normal;
    color: var(--primary);
}

.arrow-right {
    width: 14px;
    height: 14px;
    background-color: var(--primary);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.text__paragraphe {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.25rem;
    font-style: 500;
    text-align: justify;
}

.text__description {
    color: var(--lightGrey);
    font-family: 'Roboto';
}

.title__main-page--mainpart {
    color: var(--primary);
    font-family: 'Cormorant';
    font-size: 12rem;
    font-weight: 100;
    width: 100%;
    text-align: center;
}

.title__main-page--subpart {
    color: var(--primary);
    font-family: 'Cormorant';
    font-size: 8rem;
    font-weight: 400;
    width: 100%;
}
.title__main-page--subpart:nth-child(even) {
    text-align: left;
}
.title__main-page--subpart:nth-child(odd) {
    text-align: right;
}

.title__article, .title__blog {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 700;
}

.title__blog-details {
    font-family: 'Cormorant';
    font-size: 8rem;
    font-weight: 500;
    margin: auto;
    text-align: center;
}
.title__blog-details:before {
    border-top: 0.25rem solid var(--softBlue);
    content: '';
    display: block;
    margin: auto;;
    width: 20rem;
    text-align: center;
}