{% extends 'admin.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
<div class="container">
  <h1>Changer le contenue de la première page</h1>
  {{ form_start(form) }}
  <div class="form-group">
    <label>Titre de l'acceuil</label>
    {{ form_widget(form.title) }}
  </div>
  <div class="form-group">
    <label>Contenu de l'acceuil</label>
    {{ form_widget(form.content) }}
  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
  {{ form_end(form) }}
  <div id="editor">
  </div>
</div>
{% endblock %}
