{% extends 'admin.html.twig' %}
{% block body %}
<div class="container">
	<h1>Liste des commandes</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>adresse</th>
				<th>Prix HT</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				<tr>
					<td>{{ commande.id }}</td>
					<td>{{ commande.address }}</td>
					<td>{{ commande.prixHt }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Pas de commande trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>	
{% endblock %}