{% extends 'admin.html.twig' %}
{% block title %}Administration - Contact{% endblock %}
{% block body %}
    <div class="container">
        <h1>Changer les informations de l'entreprise</h1>
        {{ form_start(form) }}
	        <div class="form-group">
	        	<label>Titre de l'acceuil</label>
	        	{{ form_widget(form.address) }}
	        </div>

	        <div class="form-group">
	        	<label>Contenu de l'acceuil</label>
	        	{{ form_widget(form.zip) }}
	        </div>
	        <div class="form-group">
	        	<label>Contenu de l'acceuil</label>
	        	{{ form_widget(form.city) }}
	        </div>
	        <div class="form-group">
	        	<label>Contenu de l'acceuil</label>
	        	{{ form_widget(form.open) }}
	        </div>
	        <div class="form-group">
	        	<label>Contenu de l'acceuil</label>
	        	{{ form_widget(form.close) }}
	        </div>
	        <div class="form-group">
	        	<label>Contenu de l'acceuil</label>
	        	{{ form_widget(form.email) }}
	        </div>
	        <div class="form-group">
	        	<label>Contenu de l'acceuil</label>
	        	{{ form_widget(form.phone) }}
	        </div>
			<button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}