{% extends 'admin.html.twig' %}
{% block body %}
	<div class="container">
		<h1>Liste des clients</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>prénom</th>
					<th>nom</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
					<tr>
						<td>{{ customer.id }}</td>
						<td>{{ customer.firstname }}</td>
						<td>{{ customer.lastname }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Pas d'utilisateur trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
{% endblock %}