{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

    {% block body %}
        <div class="my-20">
            <div class="searchbar flex w-full items-center">
                <div class="filter flex justify-center items-center">
                    <img src="{{ asset('images/icons/funnel.png') }}" alt="">
                </div>
                <div class="dropdown relative flex items-center justify-center">
                    <select class="appearance-none uppercase font-medium">
                        <option disabled="" selected="">Collections</option>
                        <option>Printemps</option>
                        <option>Eté</option>
                        <option>Hiver</option>
                    </select>
                </div>
                <div class="dropdown relative flex items-center justify-center">
                    <select class="appearance-none uppercase font-medium">
                        <option disabled="" selected="">Catégorie</option>
                        <option>Salle de Bains</option>
                        <option>Cuisine</option>
                        <option>Chambre</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="px-8 xl:px-0 lg:flex lg:justify-center  flex-wrap">
                {% for article in articles %}
                    <div class="thumb--cart w-full my-12 lg:my-0 lg:w-1/3">
                        <div class="thumb--cart__image">
                            <img src="{{ asset('images/jpg/bowl-bonsai.jpg') }}" alt="Bonsai in a bowl" class="img-cover">
                            <div class="thumb--cart__caption bg-white flex justify-between items-center py-6 px-4 lg:py-12 lg:px-8">
                                <div class="flex flex-col justify-between">
                                    <p class="thumb--cart__title">{{ article.name }}</p>
                                    <p class="thumb--cart__price">{{ article.price }} €</p>
                                </div>
                                <div class="thumb--cart__icon">
                                    <img src="{{ asset('images/icons/icon-cart.svg') }}" alt="Icon Cart">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
