{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="lg:flex lg:py-20">
        <div class="w-full lg:w-1/2 px-8 lg:px-0">
            <div class="slideshow relative mx-auto ">
                <div class="slideshow--content flex flex-no-wrap">
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg') }}" alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg') }}" alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg') }}" alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg') }}" alt="toothbrush" class="img-cover">
                    </div>
                    <div class="slideshow--content--item flex-none h-full w-full">
                        <img src="{{ asset('images/jpg/toothbrush.jpg') }}" alt="toothbrush" class="img-cover">
                    </div>
                </div>
                <div class="slideshow--button__prev cursor-pointer" id="slideshow-prev">
                    <img src="{{ asset('images/icons/chevron-left.png') }}"
                         alt="Chevron">
                </div>
                <div class="slideshow--button__next cursor-pointer" id="slideshow-next">
                    <img src="{{ asset('images/icons/chevron-right.png') }}"  alt="Chevron">
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/2 px-8 lg:px-16">
            <h2 class="text-5xl text-center uppercase tracking-wider font-light pb-10 lg:text-7xl
            lg:text-left">Brosse a dents</h2>
                <p class="text-2xl font-light text-gray-400 pb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <p class="btn-category inline-block mb-12 lg:mb-24">Hygiène</p>
                <div class="flex flex-col mb-10 lg:justify-between lg:flex-row lg:mb-40">
                    <div class="flex justify-between items-center pb-8 lg:block">
                        <p class="text-3xl uppercase lg:pb-12">Prix</p>
                        <p class="text-6xl font-light">19.90 €</p>
                    </div>
                </div>
                <div class="flex justify-center mb-10">
                    <a href="#" class="flex justify-center
                    items-center btn-green-gradient-outline
                    btn-xl"><span
                                class="text-green-gradient ">Ajouter au panier</span></a>
                </div>
        </div>
    </div>
{% endblock %}
