{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <svg class="invisible absolute xl:visible z-0" viewBox="0 0 1200 500">
        <linearGradient id="linearCircle1" x1="0" y1="1" x2="1" y2="0">
            <stop offset="5%" stop-color="#5DFDCB"></stop>
            <stop offset="525%" stop-color="#004FFF"></stop>
        </linearGradient>
        <circle cx = "960" cy = "150" r = "325" fill = "url(#linearCircle1)" stroke = "none"/>
    </svg>
    <svg class="invisible absolute xl:visible z-0" viewBox="0 0 1200 1200">
        <linearGradient id="linearCircle2" x1="0" y1="1" x2="1" y2="0">
            <stop offset="5%" stop-color="#004FFF"></stop>
            <stop offset="525%" stop-color="#5DFDCB"></stop>
        </linearGradient>
        <circle cx = "200" cy = "650" r = "250" fill = "url(#linearCircle2)" stroke = "none"/>
    </svg>
    <svg class="invisible absolute xl:visible z-0" viewBox="0 0 1200 1600">
        <linearGradient id="linearCircle3" x1="0" y1="1" x2="1" y2="0">
            <stop offset="5%" stop-color="#5DFDCB"></stop>
            <stop offset="525%" stop-color="#004FFF"></stop>
        </linearGradient>
        <circle cx = "1000" cy = "1250" r = "300" fill = "url(#linearCircle3)" stroke = "none"/>
    </svg>
    <svg class="invisible absolute xl:visible z-0" viewBox="0 0 1200 2100">
        <linearGradient id="linearCircle4" x1="0" y1="1" x2="1" y2="0">
            <stop offset="5%" stop-color="#004FFF"></stop>
            <stop offset="525%" stop-color="#5DFDCB"></stop>
        </linearGradient>
        <circle cx = "200" cy = "1800" r = "290" fill = "url(#linearCircle4)" stroke = "none"/>
    </svg>

    <div class="container">
        {% include '/page/header.html.twig' %}
        <div class="flex justify-between items-center my-24 z-10">
            <div class="flex flex-col w-full xl:w-3/5 mx-12 xl:mx-0">
                <h1 class="title-mainpart mb-8">Éco Service</h1>
                <div class="text-justify w-full xl:w-5/6 z-10">
                    <p class="text-3xl my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="text-3xl my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <img class="img-container z-10 hidden xl:flex" src="{{ asset('images/inte-athe/tree.jpg')}}" rel="Tree"/>
        </div>
        <div class="flex flex-col my-32 items-end">
            <h2 class="title-subpart text-right z-10 mx-4 xl:mx-0">Nos Services</h2>
            <div class="lg:flex flex-col container--lg z-10">
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <div class="flex flex-col p-16 justify-between">
                        <h1 class="text-6xl">Service Title</h1>
                        <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                    </div>
                    <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
                </div>
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
                    <div class="flex flex-col p-16 justify-between">
                        <h1 class="text-6xl">Service Title</h1>
                        <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                    </div>
                </div>
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <div class="flex flex-col p-16 justify-between">
                        <h1 class="text-6xl">Service Title</h1>
                        <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                    </div>
                    <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
                </div>
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
                    <div class="flex flex-col p-16 justify-between">
                        <h1 class="text-6xl">Service Title</h1>
                        <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                    </div>
                </div>
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <div class="flex flex-col p-16 justify-between">
                        <h1 class="text-6xl">Service Title</h1>
                        <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                    </div>
                    <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
                </div>
                <div class="lg:flex flex-row w-full bg-white my-16 mx-8">
                    <img class="img-cover" src="../images/inte-athe/bonsai.png" alt="Bonsaï"/>
                    <div class="flex flex-col p-16 justify-between">
                        <h1 class="text-6xl">Service Title</h1>
                        <p class="text-paragraphe text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <button class="btn-green-gradient-outline self-end"><span class="text-green-gradient">Lire
                  l'article</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '/page/footer.html.twig' %}
{% endblock %}
